	body {
	  cursor: url('https://ionicframework.com/img/finger.png'), auto;
	}



	/*Load css of login page */
	.facebook{
		text-align: center; 
		margin-left: 17px;
    	margin-right: 17px;
	    margin-top: 0;	
	    margin-bottom: 0;
		padding: 0;
	}
	.logininput{
		border: 0;
		padding: 0;
		margin-left: 17px;
    	margin-right: 17px;
	    margin-top: 0;	
	    margin-bottom: 0;
		border-bottom: 1px solid darkgreen;

	}
	.logintran{		
	    transform-style: preserve-3d;
	}



	.loginbtn{
		text-align: center; 
		margin-left: 17px;
    	margin-right: 17px;
	    margin-top: 0;	
	    margin-bottom: 0;
		padding: 0;
	}
	.loginpage{
		text-align: center;
		padding: 0;
	}
	.link .loginlink{
		padding: 0;
		margin-left: 17px;
    	margin-right: 17px;
	    margin-top: 0;	
	    margin-bottom: 0;
		color:green;
		text-align: center;;
	}
	a.button {
	    text-decoration: none;
	    color: green;
	    transform-style: preserve-3d;
	}


	/*Load css of signup page */

	.signuppage .row1{
		margin-top: -53px;
	}

	.signuppage .signupbtn{
		text-align: center; 
		margin-left: 17px;
    	margin-right: 17px;
	    margin-top: 0;	
	    margin-bottom: 0;
	}
	.signuppage .facebookbtn{
		text-align: center; 
		margin-left: 17px;
    	margin-right: 17px;
	    margin-top: 0;	
	    margin-bottom: 0;
	}

	.signuppage .signupinput1{
	    border: 0;			
	    margin-left: 2px;
	    margin-right: 18px;	
	    margin-top: 0;	
	    margin-bottom: 0;
	}

	.signuppage .signuplogoimage{
		text-align: center;
		margin-top: 9px;
	}

	.signuppage .ion-person:before {
	    content: "";
	    color: darkseagreen;
	    padding: 3px;
	}

	.signuppage .singuptran{		
	    transform-style: preserve-3d;
	}


	.signuppage .inputbottomborder{
		border-bottom: 1px solid darkgreen;
	}


	/*Load css of forget password page */
	.forgetpage .forgetinput{		
		margin-left: 17px;
    	margin-right: 17px;
	    margin-top: 0;	
	    margin-bottom: 0;
		border: 0;
		padding: 0;
	}
	.forgetpage .forgetbtn{
		text-align: center; 		
		margin-left: 20px;
    	margin-right: 20px;
	    margin-top: 0;	
	    margin-bottom: 0;
		padding: 0;
	}

	.forgetpage .row1{
		margin-top: 40px;
	}
	.forgetpage .logintran{		
	    transform-style: preserve-3d;
	}
	.forgetpage .forgetinputborder{
		border-bottom: 1px solid darkgreen;
	}


	.forgetpage .forgetdescription{
		text-align: left;	
		margin-left: 20px;
    	margin-right: 20px;
	    margin-top: 0;	
	    margin-bottom: 20px;
		padding: 0;
		font-size: small;
    	color: coral;
	}

	/*Load css of pricing page */
	.pricingpage .vl {
	    border-left: 2px solid green;
	    height: 100%;
	}
	.pricingpage .row1{
		margin-top: 50px; margin-bottom: 10px;
	}

	.pricingpage .button{
		border: 1px solid; 
	}

	.pricingpage .vlr{
		padding-left: 50px;
		margin-top: -5px;
	}

	.pricingpage .pricecolor{
		color: blue;
	}

	.pricingpage .ion-ios-arrow-thin-right:before {
	    content: "";
	    color: darkcyan;
	    margin-left: -5px;
    	font-size:large;
	}

	/*Load css of aboutus page */

	.aboutpage .row1{
		margin-top: 40px;
		border: 1px solid;
		padding: 0;
	}	
	.aboutpage .row2{
		border-left: 1px solid;
		border-right: 1px solid;
		border-bottom: 1px solid;
	}

	.aboutpage .aboutuslogo{
		text-align: center;
	}

	.aboutpage .row2{		
		border: 0;
		padding: 0;
	}
	.aboutpage .laundryDes1{
		padding: 0;
	}

	.aboutpage .aboutuslogo{		
	    width: 100%;
	    height: 200px;
	    padding: 0;
	}

	.aboutpage .aboutusimage{
		width: 100%;
	}


   /* Load css of faq page */
   .faqpage .row1{
		margin-top: 40px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		border: 0;
		padding: 0;
	}	
	.faqpage .faq1{
		padding: 0;
	}

	.listquestion{
	    padding: 0px;
	    margin-left: 0px;
	    margin-right: 0px;
	    margin-bottom: 10px;
	    margin-top: 0px;
	}

	.list .item.item-accordion {
	  line-height: 38px;
	  padding-top: 0;
	  padding-bottom: 0;
	  transition: 0.09s all linear;
	}

	.list .item.item-accordion.ng-hide {
	  line-height: 0px;
	}

	.list .item.item-accordion.ng-hide-add,
	.list .item.item-accordion.ng-hide-remove {
	  display: block !important;
	}


   /* Load css of my details page */
   .mydetails{
		padding: 0;
		margin: 0;
   }
   .mydetailspage .row1{
		margin-top: 40px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		border: 0;
		padding: 0;
	}
	.mydetailspage .mydetailsform{
		padding: 0;
	}	
   .mydetailspage .row2{
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		border: 0;
		padding: 0;
	}
	.mydetailspage .mydetailsform1{
		padding: 0;
	}
	.mydetailspage .ion-plus-round{
		text-align: center;
	    color: darkcyan;
	}	

	.mydetailspage .mypaymentcenter{
		text-align: center;
	}

	.mydetailspage .mydetailsform2{
		padding: 0;
	}	
   .mydetailspage .row3{
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		border: 0;
		padding: 0;
	}

	.mydetailspage .Personal{
		padding: 0;
		margin: 0;
	}
	.mydetailspage .Personal1{
		padding: 0;
		margin: 0;
	}
	.mydetailspage .Personal1self{
		padding: 0;
		margin-top: 0;
		margin-bottom: 6px;
		margin-left: 0;
		margin-right: 0;
	}
	.mydetailspage .name1{
		padding: 0;
		margin-left: 4px;
		margin-top: 15px;
	}
	.mydetailspage .name2{
		padding: 0;
		margin-top: 0;
	}

	.mydetailspage .inputbox{		
		margin-top: 5px;	
		margin-bottom: 5px;
	}

	.mydetailspage .link{
		text-decoration: none;
	}

	.mydetailspage .item-input{
		padding: 0;
	}



/*Load Notification of Css*/

   .Notification{
		padding: 0;
		margin: 0;
   }
   .Notification .row1{
		margin-top: 30px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		border: 0;
		padding: 0;
	}

	.Notification .col1{
		padding: 0;
    	margin: 0;
	}

	.Notification .title1{			
	    text-align: center;
	    color: firebrick;
    	font-size: larger;
	}
	.Notification .title2{			
	    text-align: center;
	    color: firebrick;
    	font-size: larger;
	}
	.Notification .title3{			
	    text-align: center;
	    color: firebrick;
    	font-size: larger;
	}

	.Notification .ion-email:before {
	    content: "";
	    margin-top: -100px;
	}

	.Notification .row1 .col1 .ntfborder{			
		border: 1px solid;
	}


	.Notification .row2{
		margin-top: -40px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		border: 0;
		padding: 0;
	}

	.Notification .col2{
		padding: 0;
    	margin: 0;
	}

	.Notification .row2 .col2 .title12{			
	    text-align: center;
	    color: firebrick;
    	font-size: larger;
	}
	.Notification .row2 .col2 .title22{			
	    text-align: center;
	    color: firebrick;
    	font-size: larger;
	}

	.Notification .row2 .col2 .ion-email:before {
	    content: "";
	    margin-top: -60px;
	}

	.Notification .row2 .col2 .ntfborder2{			
		border: 1px solid;
	}


	/* Load address page of css */

	.Address{
		padding: 0;
		margin: 0;
	}
	.Address .topmargin{
		margin-top: 30px;
	}
	.Address .Address1{
		margin: 0;
	}
	.Address .Address1 .address2{
		margin: 0;
		padding: 0;
	}
	.Address .Address1 .address2 .row{
		margin: 0;
		padding: 0;
	}
	.Address .Address1 .address2 .row .col-80{
		margin: 0;
		padding: 0;
	}

	.Address .Address1 .address2 .row .col-80 .row .col-20{
	    margin-top: 11px;
	    font-size: medium;
	    color: darkcyan;
	    text-align: center;
	}

	.Address .Address1 .address2 .row .col-20{
    	margin-top: 40px;
	}


	.Address .Address1 .address2 .row .col-80 .row .col-60 .inputbox1{
	    margin: 0;
	    width: 100%;
	    padding: 4px;
	    border: 1px solid slategray;
	    border-radius: 10px;
	}


	.Address .Address1 .anotheraddress{
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.Address .Address1 .linkaddress{
		text-decoration: none;		
    	color: #33CD5F;
	}

	.Address .Address1 .linkcenter{
		text-align: center;
	}

	.Address .Address1 .address2 .row .col-80 .row .linkcolor{
		color: #33CD5F;
	}


	.Address .Address1 .address2 .checkboxdesign{
		width: 25px;
		height: 33px;
		margin-top: -15px;
	}


/* Load css of Delivery Date*/ 
	.Deliverydate{
		overflow-x: hidden; /* Hide horizontal scrollbar */
    	overflow-y: scroll; /* Add vertical scrollbar */
	}
	.Deliverydate .topmargin{
		margin-top: 60px;
	}
	.Deliverydate .row .col{
	    text-align: center;
	    border-radius: 0%;
	    background-color: darkgray;
	    border: 1px solid dimgray;
	    margin-left: 40px;
	    margin-right: 40px;
    	margin-bottom: 20px;
   		height: 90px;
    	opacity: 0.5;
	}
	.Deliverydate .ion-social-usd-outline:before {
	    content: "";
	    color: white;
	}
	.Deliverydate .ion-plus:before {
	    content: "";
	    color: aliceblue;
	}
	.Deliverydate .iconsstyle{		
	    border: 1px solid dimgray;
	    padding: 4px;
	    float: right;
	    transform-style: preserve-3d;
	    background-color: darkgray;
	    color: white;
		margin-top: -67px;
		margin-right: -33px;
	}

	.Deliverydate .marginrow{
		margin-top: 10px;
	}

	.Deliverydate .tt1{
		margin-top: 19px;
	}



/*Load css of menu page*/

	.Menu{
		padding: 0;
		margin: 0;
	}
	.Menu .topmargin{
		margin-top: 40px;
	}

	.Menu .row .col{
		margin: 10px;
		padding: 0;
	}
	.Menu .row .col a{			
	    padding: 0;
	    text-decoration: blink;
	}

	.Menu .ion-home:before {
	    content: "";
	    font-size: 20px;
	}
	.Menu .ion-location:before {
    	content: "";
	    font-size: 20px;
	}
	.Menu .ion-pricetags:before {
    	content: "";
	    font-size: 20px;
	}
	.Menu .ion-help:before {
    	content: "";
	    font-size: 20px;
	}
	.Menu .ion-model-s:before {
    	content: "";
	    font-size: 18px;
	}
	.Menu .ion-eye-disabled:before {
    	content: "";
	    font-size: 20px;
	}
	.Menu .ion-social-usd-outline:before {
    	content: "";
	    font-size: 20px;
	}
	.Menu .ion-android-arrow-back:before {
    	content: "";
	    font-size: 20px;
	}


	/*Load css of payment method */
	.paymentmethod{
		padding: 0;
		margin: 0;
	}
	.paymentmethod .topmargin{
		margin-top: 40px;
	}
	.paymentmethod .paymentmethod1{
		margin: 0;
	}
	.paymentmethod .paymentmethod1 .paymentmethod2{
		margin: 0;
		padding: 0;
	}
	.paymentmethod .paymentmethod1 .paymentmethod2 .row{
		margin: 0;
		padding: 0;
	}
	.paymentmethod .paymentmethod1 .paymentmethod2 .row .col-80{
		margin: 0;
		padding: 0;
	}

	.paymentmethod .paymentmethod1 .paymentmethod2 .row .col-80 .row .col-20{
	    margin-top: 11px;
	    font-size: medium;
	    color: darkcyan;
	    text-align: center;
	}

	.paymentmethod .paymentmethod1 .paymentmethod2 .row .col-20{
    	margin-top: 40px;
	}


	.paymentmethod .paymentmethod1 .paymentmethod2 .row .col-80 .row .col-60 .inputbox1{
	    margin: 0;
	    width: 100%;
	    padding: 4px;
	    border: 1px solid slategray;
	    border-radius: 10px;
	}


	.paymentmethod .paymentmethod1 .anotherpaymentmethod{
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.paymentmethod .paymentmethod1 .linkpaymentmethod{
		text-decoration: none;		
    	color: #33CD5F;
	}

	.paymentmethod .paymentmethod1 .linkcenter{
		text-align: center;
	}

	.paymentmethod .paymentmethod1 .paymentmethod2 .row .col-80 .row .linkcolor{
		color: #33CD5F;
	}


	.paymentmethod .paymentmethod1 .paymentmethod2 .checkboxdesign{
		width: 25px;
		height: 33px;
		margin-top: -15px;
	}



