<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>539107621860-oca6q4sggtrhehan5k5aq4vc16l9o65t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539107621860-oca6q4sggtrhehan5k5aq4vc16l9o65t</string>
	<key>API_KEY</key>
	<string>AIzaSyCfCBtaVwZw9PhaVIe7DapK1qEFgKUGgr0</string>
	<key>GCM_SENDER_ID</key>
	<string>539107621860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackerkernel.laundry</string>
	<key>PROJECT_ID</key>
	<string>laundry-53e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-53e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539107621860:ios:2305cf95b9245e54</string>
	<key>DATABASE_URL</key>
	<string>https://laundry-53e0d.firebaseio.com</string>
</dict>
</plist>