
RewriteEngine On

# Don't rewrite files

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# If the ALPHA_USER cookie is set, serve the uncompressed files

RewriteCond %{HTTP_COOKIE} ALPHA_USER [NC]
RewriteRule ^ index.html [L]

# Rewrite everything
#RewriteRule ^ LaundryApp/index.html [L]

RewriteRule ^ index.html [L]