<div ng-controller="AboutusCtrl" class="aboutpage">
	
	
	<div class="bar bar-header bar-balanced">	  
  	  <a href="#/dashboard">
  	  	<button class="button button-icon icon ion-android-arrow-back"></button>
  	  </a>
	  <div class="h1 title">ABOUT US </div>		
	</div>

	<div class="row row1">
		<div class="col aboutuslogo"> 		
			<img src="assets/aboutuslogo.jpg" height="200px" class="aboutusimage">
		</div>
	</div>

	<div class="row row2">
		<div class="col laundryDes1">
			<div class="list">

			  <div class="item">
			  	<span class="title">LAUNDRY</span>
			  </div>

			  <div class="item item-body">
			    <p>
			     Laundry refers to the washing of clothing and other textiles. An apartment building or student hall of residence may have a shared laundry facility such as a tvättstuga. A stand-alone business is referred to as a self-service laundry. 
			    </p>
			  </div>
			</div>
		</div>
	</div>

	<div class="row row2">
		<div class="col laundryDes1">
			<div class="list">

			  <div class="item">
			  	<span class="title">TESTIMONIALS</span>
			  </div>

			  <div class="item item-body">
			    <p>
			     Laundry refers to the washing of clothing and other textiles. 
			     The material that is being washed, or has been laundered, is also generally referred to as laundry.
			    </p>
			  </div>
			</div>
		</div>
	</div>

</div>