<style>
		html {
			background-image: none !important;
		}
</style>
<script>
  // setInterval(function(){ 
  //   alert(6);
  //   console.log($('#iframe2'));
  // }, 112000);
</script>
<div ng-controller="AddPaymentCtrl" style='height:100%'>

  
  
        <!-- <div class="row">

            <div class="col"> 

                <form>

                    <div class="list">

                      <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="paymentDetails.name">
                      </label>

                      <label class="item item-input">
                        <span class="input-label">Number</span>
                        <input type="text" ng-model="paymentDetails.number">
                      </label>

                      <label class="item item-input">
                        <span class="input-label">Cv code</span>
                        <input type="text" ng-model="paymentDetails.cvcode">
                      </label>

                      <label class="item item-input">
                        <span class="input-label">Expiry month</span>
                        <input type="text" ng-model="paymentDetails.expiry_month">
                      </label>

                      <label class="item item-input">
                        <span class="input-label">Expiry year</span>
                        <input type="text" ng-model="paymentDetails.expiry_year">
                      </label>
                      <button class="button button-full button-positive" ng-click="onAddPayment()">
                              Update
                      </button>

                    </div>

                </form>

            </div>

        </div>	 -->
        
        <iframe id='iframe2' name={{userId}}  width="100%" height="85%" srcdoc=''>
        </iframe>

        <div class="row  center-align  valign-wrapper" style='background-color:white; height: 15%'>
          <div style='justify-content:center' class="col s12 center-align valign-wrapper">
            <a class='my_close_button' href='#/mydetails'>Click here when done</a>
          </div>
        </div>
        

        <div ng-if="loading" class="loader">Loading...</div>
    
        <!-- <div class="row bottommargin">
            
        </div>
        
        <div class="bar bar-footer bar-balanced">
              <div class="title">Footer</div>
        </div> 		 -->


  
</div>

