<div ng-controller="AddressesCtrl" class="Address">

	<div class="ion-content mainAddress">

		<div class="bar bar-header bar-balanced">	  
	  	  <a href="#/dashboard">
	  	  	<button class="button button-icon icon ion-android-arrow-back"></button>
	  	  </a>
		  <div class="h1 title">Address </div>		
		</div>
		
		<div class="row topmargin"> </div>
		

			
		<div class="row">

			<div class="col"> 

				<div class="list card" ng-repeat="data in userdata.addresses">

					<div class="item item-icon-left bodyfont">
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">Street name</span>
									<!-- <input type="text" ng-model="card.title" class="inputbox1"> -->
									{{data.street_name}}
								</label>
							</div>
						</div>
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">P.O.Box</span>
									<!-- <input type="text" ng-model="card.pobox" class="inputbox1"> -->
									{{data.pobox}}
								</label>
							</div>
						</div>
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">Floor</span>
									<!-- <input type="text" ng-model="card.flat" class="inputbox1"> -->
									{{data.floor}}
								</label>
							</div>
						</div>
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">City </span>
									<!-- <input type="text" ng-model="card.bldname"  class="inputbox1"> -->
									{{cityid.title}}
								</label>
							</div>
						</div>
					</div>

					<div class="item borderremove">

						<div class="row rowbtn">

							<div class="col col1">
					
								<label class="container">Deliver Here
								  <input type="checkbox" checked="checked">
								  <span class="checkmark"></span>
								</label>

							</div>

							<div class="col coleditbtnb">
								<a href="#">
									<i class="icon ion-edit"> </i>	  
								</a>
							</div>

						</div> 	

					</div>

				</div>

			</div>

		</div>

		<div ng-if="loading" class="loader">Loading...</div>

		<div class="row bottommargin">
			
		</div>
 		

		<div class="bar bar-footer bar-balanced">

			<div class="row">

				<div class="col footerbtnlink">

					<a href="#" class="linkpaymentmethod">
						<i class="icon ion-plus"> </i>	  
						ADD ANOTHER ADDRESS	
					</a>

			     </div>	

			</div>

		</div> 	


	<!-- 		
		<div class="list card Address1">

		  <div class="item item-body address2">

		  	<div class="row">

		  		<div class="col col-80" ng-repeat="person in first">
		  			
		  			<div class="row">
			  			<div class="col col-20">
			  				Street
			  			</div>
			  			<div class="col col-60">
							<label class="item item-input item-floating-label">
								<input type="text" ng-readonly="Street" autofocus="" ng-model="person.street" class="inputbox1">
							</label>
							{{first.street}}
			  			</div>
			  			<div class="col col-20 linkcolor" ng-click="Street()">
			  				Edit
			  			</div>
			  		</div>
		  			<div class="row">
			  			<div class="col col-20">
			  				P.O.B
			  			</div>
			  			<div class="col col-60">
							<label class="item item-input item-floating-label">
								<input type="text" ng-readonly="pobox" autofocus="" ng-model="person.pobox" class="inputbox1">
							</label>
			  			</div>
			  			<div class="col col-20 linkcolor" ng-click="pobox()">
			  				Edit
			  			</div>
			  		</div>
		  			<div class="row">
			  			<div class="col col-20">
			  				Flat
			  			</div>
			  			<div class="col col-60">
							<label class="item item-input item-floating-label">
								<input type="text" ng-readonly="Flat" autofocus="" ng-model="person.Flat" class="inputbox1" readonly="">
							</label>
			  			</div>
			  			<div class="col col-20 linkcolor" ng-click="Flat()">
			  				Edit
			  			</div>
			  		</div>
		  		</div>

		  		<div class="col col-20 ion-list">
		  			<p>DELIVER HERE</p>
					<input type="checkbox" class="checkboxdesign" name="">
		  		</div>

		  	</div>
		  </div>
		  <div class="item item-body address2">

		  	<div class="row">

		  		<div class="col col-80" ng-repeat="person in second">

		  			<div class="row">
			  			<div class="col col-20">
			  				Title
			  			</div>
			  			<div class="col col-60">
							<label class="item item-input item-floating-label">
								<input type="text" ng-readonly="title" autofocus="" ng-model="person.title" class="inputbox1">
							</label>
			  			</div>
			  			<div class="col col-20 linkcolor" ng-click="title()">
			  				Edit
			  			</div>
			  		</div>
		  			<div class="row">
			  			<div class="col col-20">
			  				P.O.B
			  			</div>
			  			<div class="col col-60">
							<label class="item item-input item-floating-label">
								<input type="text" ng-readonly="pobox1" autofocus="" ng-model="person.pobox1" class="inputbox1">
							</label>
			  			</div>
			  			<div class="col col-20 linkcolor" ng-click="pobox1()">
			  				Edit
			  			</div>
			  		</div>
		  			<div class="row">
			  			<div class="col col-20">
			  				Flat
			  			</div>
			  			<div class="col col-60">
							<label class="item item-input item-floating-label">
								<input type="text" ng-readonly="flat1" autofocus="" ng-model="person.flat1" class="inputbox1">
							</label>
			  			</div>
			  			<div class="col col-20 linkcolor" ng-click="flat1()">
			  				Edit
			  			</div>
			  		</div>
		  			<div class="row">
			  			<div class="col col-20">
			  				BLDN
			  			</div>
			  			<div class="col col-60">
							<label class="item item-input item-floating-label">
								<input type="text" ng-readonly="bldname" autofocus="" ng-model="person.bldname" class="inputbox1">
							</label>
			  			</div>
			  			<div class="col col-20 linkcolor" ng-click="bldname()">
			  				Edit
			  			</div>
			  		</div>	
		  		</div>

		  		<div class="col col-20">
		  			<p>DELIVER HERE</p>
					<input type="checkbox" class="checkboxdesign">
		  		</div>

		  	</div>

		  </div>

		  <div class="item item-body linkcenter">
		  	<a href="#" class="linkaddress">
		  		<i class="icon ion-plus"> </i>	  
		  		ADD ANOTHER ADDRESS		
		  	</a>
		  </div>

		</div> 
	-->
		
	 </div>

</div>