
<script type="text/javascript">	
	    $(document).ready(function() { 

			$('#close').click(function(){			
				$("#div2").removeClass("abcd");	
				$("#div1").removeClass("animationhide");
				$("#div2").addClass("Menu");
			})

			$('#menuopen').click(function () {				
				$("#div1").addClass("animationhide");
				$("#div2").addClass("abcd");
			});
			// $("#signout").click(function($scope,$window){
				
			// 	 localStorage.removeItem('laundryUser');
            //      $location.path('/login');
			// });

	    });
</script>






	<div ng-controller="DashboardCtrl" class="dashboard">
		<main>
			<div class='wrapper_pickup_button'>
				<button onclick="window.location='#/ordersummary'" style='font-family: Roboto, sans-serif;  font-weight: 100; border-radius: 40px;' type="button" class="btn btn-primary btn-pick-laundry text-upper">{{'pickup_my_laundry' | translate}}</button>
			</div>
		</main>

		<!-- <div class="ion-content maindashboard" id="div1">

			<div class="bar bar-header bar-balanced">

			  <button class="button button-icon icon ion-navicon" id="menuopen"></button>

			  <div class="h1 title">EASY WASH </div>

			  <button class="button button-clear button-positive callbtn">	  	
			    <i class="icon ion-ios-telephone-outline"></i>
			  </button>

			</div>
			
			<div class="row topmargin">
				
			</div>

			<div class="row">

				<div class="col"> 

					<div class="list card" ng-repeat="a in [1,2,3,4]">

					  <a href="#" class="item item-icon-left headingfont">
					    <i class="icon ion-model-s"></i>
					     Pickup Tommorow
					  </a>

					  <a href="#" class="item item-icon-left bodyfont">
					    <i class="icon ion-ios-clock-outline"></i>
					    09:00 to 12:00
					  </a>

					  <a href="#" class="item item-icon-left borderremove1 bodyfont">
					    <i class="icon ion-ios-calendar-outline"></i>
					    17-Feb-2018 Thu
					  </a>


					  <a href="#" class="item borderremove">
					    	View				    	
					  </a>

					</div>

				</div>

			</div>

		
		
			<div class="row bottommargin">
				
			</div>
			
			<div class="bar bar-footer bar-balanced">
			

				<div class="row">

					<div class="col footerbtnlink1">
						<a href="#">
						  Pickup My Laundry!
						</a>
				     </div>	

					<div class="col footerbtnlink2">
						<a href="pricing">
						  Pricing
						</a>
				     </div>	

				</div>

			</div> 		


		</div> -->

		<!-- <div class="Menu" id="div2">
		    

		   	<div class="bar bar-header bar-balanced">
		   		
				<button class="button button-clear pull-left h1">
						MENU
				</button>	
				<button class="button button-clear pull-right" id="close">
						<span class="icon ion-close"> </span>
				</button>

			</div>

			<div class="row" style="margin-top: 35px;">

				<div class="col">

					<div class="row">

						<div class="col">
							<a href="#/mydetails" class="menulink"> 
								<i class="icon ion-location"></i> 
								My Details 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/address" class="menulink"> 
								<i class="icon ion-location"></i> 
								My Address 
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<a href="#/payment" class="menulink1"> 
								<i class="icon ion-pricetags"></i> 
								My Payments 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/faqs" class="menulink2"> 
								<i class="icon ion-help"></i> 
								FAQs 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/ordersummary" class="menulink3"> 
								<i class="icon ion-model-s"></i> 
								My Orders 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/aboutus" class="menulink4"> 
								<i class="icon ion-eye-disabled"></i> 
								About Easy Wash 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/notification" class="menulink4"> 
								<i class="icon ion-eye-disabled"></i> 
								Notification 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/pricing" class="menulink5"> 
								<i class="icon ion-social-usd-outline"></i> 
								Pricing 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/deliverydate" class="menulink5"> 
								<i class="icon ion-calendar"></i> 
								Delivery Date 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a href="#/finaldate" class="menulink5"> 
								<i class="icon ion-ios-clock-outline"></i> 
								Final Date 
							</a>
						</div>
					</div>

					<div class="row">

						<div class="col">
							<a class="menulink6" id="signout" ng-click="Signout()"> 
							
								<i class="icon ion-log-out"></i> 
								Signout 
							</a>
						</div>

					</div>

				</div> 

			</div>
			

		</div> -->

	</div>
