<div ng-controller="DashboardCtrl">

  <div class="ion-content">
	<div class="bar bar-header bar-balanced">
	  <button class="button button-icon icon ion-navicon "></button>
	  <div class="h1 title">EASY WASH </div>
	  <button class="button button-clear button-positive" style="color: white;">	  	
	    <i class="icon ion-ios-telephone-outline"></i>
	  </button>
	</div>

	<div class="row" style="margin-top: 40px;">

		<div class="col"> 

			<div class="card">
			  <div class="item item-text-wrap">
			    This is a basic Card which contains an item that has wrapping text.
			  </div>
			</div>
			<div class="card">
			  <div class="item item-text-wrap">
			    This is a basic Card which contains an item that has wrapping text.
			  </div>
			</div>
			<div class="card">
			  <div class="item item-text-wrap">
			    This is a basic Card which contains an item that has wrapping text.
			  </div>
			</div>
			<div class="card">
			  <div class="item item-text-wrap">
			    This is a basic Card which contains an item that has wrapping text.
			  </div>
			</div>

		</div>

	</div>

	<div class="row">

		<div class="col" style="text-align: center;"></div>

		<div class="">
			<button class="button button-full button-light" style="border: 1px solid;">
			  Pickup My Laundry!
			</button>
	     </div>	

		<div class="col" style="text-align: center;">
	    </div>	

	</div>

	<div class="row">

		<div class="col" style="text-align: center;"></div>

		<div class="col" style="text-align: center;">
			<a href="/LaundryApp/#!/pricing" class="button" style="color: blue;">
			  Pricing
			</a>
	     </div>	

		<div class="col" style="text-align: center;"></div>

	</div>

	<div class="bar bar-footer bar-balanced">
	  <div class="title">Footer</div>
	</div>
   </div>

</div>
