<div ng-controller="AddressesCtrl" class="Deliverydate">

	<div class="ion-content mainDeliverydate">
	
		<div class="bar bar-header bar-balanced">	  
	  	  <a href="dashboard">
	  	  	<button class="button button-icon icon ion-android-arrow-back"></button>
	  	  </a>
		  <div class="h1 title">Delivery Date </div>		
		</div>

		<div class="row topmargin"> </div>

		<div class="row marginrow">
			<div class="col">
				<div class="h2 title"> TOMORROW </div>			
				<span class="iconsstyle"> 
					<i class="icon ion-plus"></i> 
					<i class="icon ion-social-usd-outline"></i> 
					10
				</span>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="h2 title"> DAY AFTER </div>
				<div class="h3 title"> 16th Sun </div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="h2 title tt1"> 17th Mon </div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="h2 title tt1"> 18th Tue </div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="h2 title tt1"> OTHER </div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="h2 title tt1"> OTHER </div>
			</div>
		</div>

		
		<div class="row bottommargin"> </div>

		<div class="bar bar-footer bar-balanced">
		  <div class="title">Footer</div>

		</div> 	

	</div>

</div>