<div ng-controller="ForgetCtrl" class="forgetpage">
	
	<div class="bar bar-header bar-balanced">
	  <a href="login">
	  	<button class="button button-icon icon ion-android-arrow-back"></button>
	  </a>
	  <div class="h1 title"> Forget Password </div>		
	</div>

	<div class="row row1">
		<div class="col loginpage">
	      <img src="assets/signinlogo.png" height="200px" class="imgclass">
	     </div>
	</div>

	<div class="row">
		<div class="col forgetdescription">
	      Your username and password will be emailed to you.
	     </div>
	</div>

	<div class="row">

		<div class="col logintran">

	      	<div class="list">	  

	      	   <form ng-submit="sendemail()">

				  <label class="item item-input item-floating-label forgetinput">

				    <span class="input-label">Enter your email address. </span>

				    <input type="email" class="forgetinputborder" placeholder="Enter Your Email Address" ng-model="forgetdata1.email">

					<input type="submit" value="Send" class="button button-full button-balanced">

				  </label>


				</form>

			</div>

	    </div>	

	</div>
<!-- 
	<div class="row">

		<div class="col forgetbtn">
			<input type="submit" value="Send" class="button button-full button-balanced" ng-submit="sendforget()">
	    </div>	

	</div> -->

</div>