<div ng-controller="ForgetCtrl" class="forgetpage">
	
	<div class="bar bar-header bar-balanced">
	  <a href="#">
	  	<button class="button button-icon icon ion-android-arrow-back"></button>
	  </a>
	  <div class="h1 title"> Forget Password </div>		
	</div>

	<div class="row row1">
		<div class="col loginpage">
	      <img src="assets/laundarylogo.jpg" height="200px">
	     </div>
	</div>

	<div class="row">
		<div class="col forgetdescription">
	      Your username and password will be emailed to you.
	     </div>
	</div>

	<div class="row">

		<div class="col logintran">

	      <div class="list">

			  <label class="item item-input item-stacked-label forgetinput">
			    <span class="input-label">Enter your email address. </span>
			    <input type="email" required="" autofocus="" class="forgetinputborder">
			  </label>

			</div>

	     </div>	

	</div>

	<div class="row">

		<div class="col forgetbtn">
			<button class="button button-full button-balanced">
			  Send 
			</button>
	     </div>	

	</div>

</div>