
<div ng-controller="LoginCtrl" class="signinpage">

	<div class="row logo">
		<div class="col loginpage">
	      <img src="assets/signinlogo.png" height="200px" class="imgclass">
	    </div>
	</div>

	<div class="row signinlogoname">
		<div class="col loginpage">
	      <h6 class="fontstyle"> Login </h6>
	     </div>
	</div>

	<div class="row">

		<div class="col logintran">

			<div class="list">

			  <form name="logindata" ng-submit="loginsubmit()" required>

				  <label class="item item-input item-floating-label logininput"> 
				    <span class="input-label">Email</span>
				    <!-- <input type="email" required="" autofocus="" class="logininputborder"> -->
				    <input type="email" placeholder="Email" ng-model="logindata.email" autofocus="" class="logininputborder">
				  </label>


				  <label class="item item-input item-floating-label logininput">
				    <span class="input-label">Password</span>
				    <!-- <input type="password" required="" autofocus="" class="logininputborder"> -->
				    <input type="password" placeholder="Password" ng-model="logindata.password" autofocus="" class="logininputborder">
				  </label>
				   <p class="red" ng-show="err">Invalid username and password!!!</p>
                 <div class="col col1 mar-top">
					
								<label class="container">
								  <input type="checkbox" checked="checked" ng-model="checkbox" id="check">
								  <span class="checkmark1"></span>
								  <label for="check">Remember me</label>
								</label>

							</div>
				  <div class="col linklogin">
					<a href="forget" class="linklogin11">
					  Forget Password
					</a>	
			     </div>	
        
				  <label class="item item-input item-floating-label logininput1btn">
				  	<span class="input-label"></span>
				  	<input type="submit" name="" value="Login" class="selfloginbtn">
				  </label>
			  	
			   </form> 

			</div>

	     </div>	

	</div>
    <div ng-if="loading" class="loader">Loading...</div>
	<div class="row facebookbtn1">

		<div class="col facebook">

			<button class="loginBtn loginBtn--facebook">
			  Login with Facebook
			</button>

	     </div>	

	</div>
<!-- 
	<div class="row link">

		<div class="col linklogin">
			<a href="forget" class="linklogin1">
			  Forget Password
			</a>	
	     </div>	

	</div>
	 -->
	<div class="row link">

		

		<div class="col linklogin">
			Create An Account
			<a href="signup" class="linklogin1">
				Sign Up
			</a>
	     </div>	

	</div>

</div>