<div ng-controller="MenuCtrl">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
	    <md-toolbar layout="row">
	     <div class="md-toolbar-tools">
	        <h2>
	          <span>Side Panel</span>
	        </h2>
	        <span flex></span>
	        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
	          <md-tooltip>Close Side Panel</md-tooltip>
	          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
	        </md-button>
	       </div>
	    </md-toolbar> 
	    <md-content layout-padding="">
	      Side navigation Panel
	    </md-content> 
	</md-sidenav>
</div>