<style>
	html {
		background-image: none !important;
	}
</style>
<div ng-controller="MydetailsCtrl" class="">
	<div class="container personal" style='margin-bottom: 20px'>
		<div class="row page-title-row">
			<div class="col s12">
				<div class='left-align'>
					<h4>{{'my_details' | translate}}</h4>
				</div>
			</div>
		</div>
		<div class="row page-title-row">
			<div class="col"><b class="text-upper">{{'my_details_personal' | translate}}</b></div>
		</div>
		<div class="row   valign-wrapper mybutton z-depth-4">
			<div class="col s8">
				<div class="row">
					<div class="col s12"><small class="text-upper">{{'basic_details.name' | translate}}</small></div>
				</div>
				<div class="row">
					<div class="col s12 clk-fade-out">{{userdata.full_name}}</div>
					<div class="col s12 clk-fade-in"><input class="form-control editable ng-pristine ng-untouched ng-valid" ng-model="userdata.full_name"
						 name="" type="text" /></div>
				</div>
			</div>
			<div class="col s4 valign-wrapper">
				<a class='my_close_button edit-btn text-upper'>{{'text.change' | translate}}</a>
				<a ng-click="onSavePersonDetail()" class='my_close_button whn-clk-edt ' style='background-color: orange;  color:white; display:none'>{{'text.save' | translate}}</a>
			</div>
		</div>
		<div class="row   valign-wrapper mybutton z-depth-4">
			<div class="col s8">
				<div class="row">
					<div class="col s12"><small class="text-upper">{{'basic_details.email' | translate}}</small></div>
				</div>
				<div class="row">
					<div class="col s12 clk-fade-out">{{userdata.email}}</div>
					<div class="col s12  clk-fade-in">
						<input class="form-control editable ng-pristine ng-untouched ng-valid" ng-model="userdata.email"
						 name="" type="text" />
					</div>
				</div>
			</div>
			<div class="col s4 valign-wrapper">
				<a class='my_close_button edit-btn'>{{'text.change' | translate}}</a>
				<a ng-click="onSavePersonDetail()" class='my_close_button whn-clk-edt ' style='background-color: orange;  color:white; display:none'>{{'text.save' | translate}}</a>
			</div>
		</div>


		<div class="row   valign-wrapper mybutton z-depth-4">
			<div class="col s8">
				<div class="row">
					<div class="col s12"><small class="text-upper">{{'basic_details.password' | translate}}</small></div>
				</div>
				<div class="row">
					<div class="col s12 clk-fade-out">{{asteriskPassword}}</div>
					<div class="col s12  clk-fade-in"><input class="form-control editable ng-pristine ng-untouched ng-valid" ng-model="asteriskPassword"
						 name="" type="text"></div>
				</div>
			</div>
			<div class="col s4 valign-wrapper">
				<a class='my_close_button edit-btn'>{{'text.change' | translate}}</a>
				<a ng-click="onSavePersonDetail()" class='my_close_button whn-clk-edt ' style='background-color: orange;  color:white; display:none'>{{'text.save' | translate}}</a>
			</div>
		</div>
		<div class="row   valign-wrapper mybutton z-depth-4">
			<div class="col s8">
				<div class="row">
					<div class="col s12"><small class="text-upper">{{'basic_details.phone' | translate}}</small></div>
				</div>
				<div class="row">
					<div class="col s12 clk-fade-out">{{userdata.phone}}</div>
					<div class="col s12  clk-fade-in"><input class="form-control editable ng-pristine ng-untouched ng-valid" ng-model="userdata.phone"
						 name="" type="text"></div>
				</div>
			</div>
			<div class="col s4 valign-wrapper">
				<a class='my_close_button edit-btn'>{{'text.change' | translate}}</a>
				<a ng-click="onSavePersonDetail()" class='my_close_button whn-clk-edt ' style='background-color: orange;  color:white; display:none'>{{'text.save' | translate}}</a>
			</div>
		</div>
		<div class="row page-title-row">
			<div class="col"><b class="text-upper">{{'my_details_payment' | translate}}</b></div>
		</div>
		<div class="row mybutton z-depth-4" style='height:unset;padding: 10px 0px 10px 0px' ng-repeat="paymentDetail in paymentDetails">
			<div class="col s12">
				<div class="row">
					<div class="col s5 text-upper">{{'card_details.card_type' | translate}}</div>
					<div class="col s7">{{paymentDetail.payment_type}}</div>
				</div>
				<div class="row">
					<div class="col s5 text-upper">{{'card_details.card_number' | translate}}</div>
					<div class="col s7">{{paymentDetail.number}}</div>
				</div>
				<div class="row">
					<div class="col s5 text-upper">{{'card_details.card_expiry_date' | translate}}</div>
					<div class="col s7">{{paymentDetail.expiry_date}}</div>
				</div>
				<div class="row">
					<div class="col s5 text-upper">{{'card_details.card_expiry_month' | translate}}</div>
					<div class="col s7">{{paymentDetail.expiry_month}}</div>
				</div>

			</div>
		</div>
		<div class="row" style='margin-top: 20px'>
			<div class="col s12 center-align"><a class='my_close_button z-depth-3' href="#/add-payment">{{'text.add_payment' | translate}}</a></div>
		</div>
		<div class="row page-title-row">
			<div class="col"><b class="text-upper">{{'my_details_personal' | translate}}</b></div>
		</div>
		<div class="row mybutton z-depth-4" style='height:unset;padding: 10px 0px 10px 0px' ng-repeat="data in userdata.addresses">
			<div class="col s12" ng-click="goTo('/edit-address/' + data.id)">
				<div class="row">
					<div class="col s5 text-upper">{{'address_details.street_name' | translate}}</div>
					<div class="col s7">{{data.street_name}}</div>
				</div>
				<div class="row">
					<div class="col text-upper">{{'address_details.floor' | translate}}</div>
					<div class="col s7">{{data.floor}}</div>
				</div>
				<div class="row">
					<div class="col text-upper">{{'address_details.po_box' | translate}}</div>
					<div class="col s7">{{data.pobox}}</div>
				</div>
				<div class="row">
					<div class="col text-upper">{{'address_details.city' | translate}}</div>
					<div class="col s7">{{cityids[$index].title}}</div>
				</div>

			</div>
		</div>
		<div class="row" style='margin-top: 20px'>
			<div class="col s12 center-align"><a class='my_close_button z-depth-3' href="#/add-address">{{'text.add_address' | translate}}</a></div>
		</div>
	</div>
	<!-- container ends here -->
	<!-- <div>

		
			

		<div class="row row1">

			<div class="col mydetailsform">

				<div class="list">

				  <div class="item item-icon-right">	  	
					  <span class="title mydetailheading"> Personal Details </span>
					  <!-- <span class="icon ion-checkmark-circled" ng-click="onSavePersonDetail()"></span> --3>
				  </div>

				  <div class="item item-body Personal">

				  	<div class="row editable">
				  		<div class="col col-30 name1">Name</div>
				  		<div class="col col-60 text-right clk-fade-out " > {{userdata.full_name}} </div>
				  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.full_name" name=""> </div>
				  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
				  			</a></div>

				  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
				  			</a></div>

				  	</div>

				  	<div class="row editable">
				  		<div class="col col-30 name1">Email</div>
				  		<div class="col col-60 text-right clk-fade-out"> {{userdata.email}} </div>
				  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.email" name=""> </div>
				  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
				  			</a></div>

				  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
				  			</a></div>
				  	</div>
				  	<div class="row editable">
				  		<div class="col col-30 name1">Password</div>
				  		<div class="col col-60 text-right clk-fade-out"> {{ asteriskPassword }} </div>
				  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.password" name=""> </div>
				  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
				  			</a></div>

				  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
				  			</a></div>
				  	</div>
				  	<div class="row editable">
				  		<div class="col col-30 name1">Contact</div>
				  		<div class="col col-60 text-right clk-fade-out"> {{userdata.phone}} </div>
				  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.phone" name=""> </div>
				  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
				  			</a></div>

				  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
							  </a></div>
							  
				  	</div>
				  </div>

				</div>

			</div>

		</div>
<div ng-if="loading" class="loader">Loading...</div>
		<div class="row row2">

			<div class="col mydetailsform1">

				<div class="list">

				  <div class="item item-icon-right">
				    <!-- <span class="icon ion-ios-plus-outline" href="#/add-payment"></span>	 --3>
					  <span class="title mydetailheading"> Payment Details </span>
					  <a href="#/add-payment">
						<i class="icon ion-ios-plus-outline"> </i>	  
					</a>
				  </div>

				  <div class="item item-body">

				  		<div class="row address-row" ng-repeat="paymentDetail in paymentDetails">

				  			<div class="col">
				  				<div class="list">
			  						<span>CARD TYPE</span>
				  				</div>
				  				<div class="list">
			  						<span>CARD NUMBER </span>
				  				</div>
				  				<div class="list">
			  						<span>EXPIRY DATE</span>
				  				</div>
				  				<div class="list">
			  						<span>EXPIRY MONTH </span>
				  				</div>
				  			</div>

				  			<div class="col">			  				
				  				<div class="list text-right">
				  					<span>{{paymentDetail.payment_type}}</span>
				  				</div>			  				
				  				<div class="list text-right">
				  					<span>{{paymentDetail.number}}</span>
				  				</div>
				  				<div class="list text-right">
				  					<span>{{paymentDetail.expiry_date}}</span>
				  				</div>
				  				<div class="list text-right">
				  					<span>{{paymentDetail.expiry_month}}</span>
				  				</div>		
				  			</div>

				  		</div>

				  </div>

				</div>

			</div>

		</div>

		<div class="row row3">
			<div class="col mydetailsform2">
				<div class="list">

				  <div class="item item-icon-right">			  	
					<span class="title mydetailheading"> Address Details </span>
					<!-- <span class="icon ion-ios-plus-outline"> <a href="#/add-address"></a> </span>	 --3>
					<a href="#/add-address">
						<i class="icon ion-ios-plus-outline"> </i>	  
					</a>
				  </div>

				  <div class="item item-body">
					   <div class="row address-row" ng-repeat="data in userdata.addresses">

					  			<div class="col">
					  				<div class="list">
				  						<span>Street name </span>
					  				</div>
					  				<div class="list">
				  						<span>Floor</span>
					  				</div>
					  				<div class="list">
				  						<span>Pobox</span>
					  				</div>
					  				<div class="list">
				  						<span>City</span>
					  				</div>
					  			</div>

					  			<div class="col">			  				
					  				<div class="list text-right">
					  					<span>{{data.street_name}}</span>
					  				</div>			  				
					  				<div class="list text-right">
					  					<span>{{data.floor}}</span>
					  				</div>	
					  				<div class="list text-right">
					  					<span>{{data.pobox}}</span>
					  				</div>
					  				<div class="list text-right">
					  					<span>{{cityids[$index].title}}</span>
					  				</div>		
					  			</div>

					  		</div>
				  </div>
				</div>
			</div>
		</div>


		<div class="row bottommargin">	</div>

		<div class="bar bar-footer bar-balanced">
			  <div class="title">Footer</div>
		</div>	
		
	</div> -->

</div>


<!-- 

		<div class="row row1">

			<div class="col mydetailsform">

				<div class="list">

				  <div class="item">			  	
				  	<span class="title"> Personal Details </span>
				  </div>

				  <div class="item item-body Personal">
				  	<div class="row Personal1">
				  		<div class="col col-20 name1">Name</div>
				  		<div class="col col-70 name2">
				  			<div class="list inputbox">			  				
				  				<label class="item item-input">
				  					<input type="text" name="" required="" autofocus="">
				  				</label>
							</div>
						</div>
				  		<div class="col col-10 name1">			  			
				  			<a href="#" class="link"> Edit </a>
				  		</div>
				  	</div>
				  	<div class="row Personal1">
				  		<div class="col col-20 name1">Email</div>
				  		<div class="col col-70 name2">
				  			<div class="list inputbox">			  				
				  				<label class="item item-input">
				  					<input type="email" name="" required="" autofocus="">
				  				</label>
							</div>
				  		</div>
				  		<div class="col col-10 name1">
				  			<a href="#" class="link"> Edit </a>
				  		</div>
				  	</div>
				  	<div class="row Personal1">
				  		<div class="col col-20 name1">Password</div>
				  		<div class="col col-70 name2">
				  			<div class="list inputbox">			  				
				  				<label class="item item-input">
				  					<input type="password" name="" required="" autofocus="">
				  				</label>			  				
							</div>
						</div>
				  		<div class="col col-10 name1">
				  			<a href="#" class="link"> Edit </a>
				  		</div>
				  	</div>
				  	<div class="row Personal1self">
				  		<div class="col col-20 name1">Contact</div>
				  		<div class="col col-70 name2">
				  			<div class="list inputbox">			  				
				  				<label class="item item-input">
							    	<input type="number" name="" required="" autofocus="">
							    </label>
							</div>
						</div>
				  		<div class="col col-10 name1">
				  			<a href="#" class="link"> Edit </a>
				  		</div>
				  	</div>
				  </div>

				</div>

			</div>

		</div>

		<div class="row row2">
			<div class="col mydetailsform1">

				<div class="list">

				  <div class="item">
				  	<span class="title"> Payment Details </span>
				  </div>

				  <div class="item item-body">

				  		<div class="row">

				  			<div class="col">
				  				<div class="list">
			  						<span>Visa card </span>
				  				</div>
				  				<div class="list">
			  						<span>Paypal </span>
				  				</div>
				  			</div>

				  			<div class="col">			  				
				  				<div class="list">
				  					<span>******6423</span>
				  				</div>			  				
				  				<div class="list">
				  					<span>******6473</span>
				  				</div>		
				  			</div>

				  		</div>

				  </div>

				  <div class="item item-body mypaymentcenter">
				     <a href="#" class="link">
				     	<span class="title ion-plus-round"> Add another payment type </span>
				     </a>
				  </div>			  

				</div>
			</div>
		</div>

		<div class="row row3">
			<div class="col mydetailsform2">
				<div class="list">

				  <div class="item">			  	
				  	<span class="title"> Address Details </span>
				  </div>

				  <div class="item item-body">
				    <p>
				     Laundry refers to the washing of clothing and other textiles. 
				    </p>
				  </div>
				</div>
			</div>
		</div>

	 -->