

<div >


	<div ng-controller="MyeditCtrl" class="myedit">

		<div class="ion-content mainmyedit">

			<div class="bar bar-header bar-balanced">
				<a href="dashboard">
				 	<button class="button button-icon icon ion-android-arrow-back"></button>
				</a>
			  	<div class="h1 title"> My Edit Page </div>	
			</div>
			
			<div class="row topmargin">
				
			</div>

			<div class="row">
				<div class="col">
				 	<h5>{{message}}</h5>
 					Hi {{person}}
 				</div>
			</div>

			<div class="row">

				<div class="col"> 

					<form ng-submit="myeditsave()">

						<div class="list">

						  <label class="item item-input">
						    <span class="input-label">Name</span>
						    <input type="text" autofocus="" ng-model="persondata.name">
						  </label>

						  <label class="item item-input">
						    <span class="input-label">Email</span>
						    <input type="email" autofocus="" ng-model="persondata.email">
						  </label>
						  
						  <label class="item item-input">
						    <span class="input-label">Password</span>
						    <input type="password" autofocus="" ng-model="persondata.password">
						  </label>
						  
						  <label class="item item-input">
						    <span class="input-label" >Contact</span>
						    <input type="number" autofocus="" ng-model="persondata.contact">
						  </label>

						  <button class="button button-full button-positive">
						  		Update
						  </button>

						</div>

					</form>

				</div>

			</div>	


		
			<div class="row bottommargin">
				
			</div>
			
			<div class="bar bar-footer bar-balanced">
			  	<div class="title">Footer</div>
			</div> 		


		</div>

	</div>

</div>