<div ng-controller="NotificationCtrl" class="Notification">
	
	<div class="bar bar-header bar-balanced">
	  <a href="#">
	  	<button class="button button-icon icon ion-android-arrow-back"></button>
	  </a>
	  <div class="h1 title"> Notification </div>	
	</div>	

	<div class="row row1">

		<div class="col col1">

			<div class="list card" ng-repeat="notification in notificationtoday">

			  <div class="item item-body ntfborder">
				<div class="item-icon-right">
					<i class="icon ion-email"></i>
				</div>
			    <p class="title1">
			      {{notification.todayname}}
			    </p>
			    <p class="title2">
			      {{notification.timing}}
			    </p>
			    <p class="title3">
			      {{notification.date}}
			    </p>
			  </div>

			</div>

		</div>

	</div>

	<div class="row row2">

		<div class="col col2">

			<div class="list card" ng-repeat="pickup in laundrypickup">

			  <div class="item item-body ntfborder2">
				<div class="item-icon-right">
					<i class="icon ion-email"></i>
				</div>
			    <p class="title12">
			      {{pickup.todayname}}
			    </p>
			    <p class="title22">
			      {{pickup.timing}}
			    </p>
			  </div>

			</div>

		</div>

	</div>


</div>