<div ng-controller="OrdersummaryCtrl" class="myorder Deliverydate finaldate">
	
	<div class="ion-content mainmyorder">

		<div class="bar bar-header bar-balanced">

		  <a href="#/dashboard">
		  	<button class="button button-icon icon ion-android-arrow-back"></button>
		  </a>

		  <div class="h1 title"> My Orders </div>

		</div>

		<div class="row topmargin"> </div>

		<div class="list card orderlist">
			
			<form>

				<!-- wizard one start -->
				 <section class="tab1">
						<div class="text-center">
								<h4>Pick up</h4>
						   </div>
						<div class="list" >
								<div class="row marginrow" ng-repeat="value in datelist" ng-hide="!showAllDateList && $index > 4" ng-click="savelocallyDate(value)">
										<div class="col next" >
											<div class="h2 title" ng-if="value.name"> {{value.name}} </div>
											<div class="h3 title"ng-if="!value.name"> {{value.shortDate}} </div>			
											<span class="iconsstyle" ng-if="value.price"> 
												<i class="icon ion-plus"></i> 
												<i class="icon ion-social-usd-outline"></i> 
												10
											</span>
										</div>
									</div>
							
									<div class="row" ng-if="!showAllDateList">
										<div class="col" ng-click="onOther()">
											<div class="h2 title tt1"> OTHER </div>
										</div>
									</div> 
							
									
							
															
						 </div>
				 </section>

				 <!-- wizard one closed -->

				  <!-- wizard two open -->
				 
				 <section class="tab2">
						<div class="text-center">
								<h4>Pick up</h4>
						   </div>
						<div class="list">
								  <div class="list">
										<div class="item headingfinal">
											Please Select the time to pricing
										</div>
										<div class="item">
											<label class="container" for="a">I'will leave at the door.
											  <input type="checkbox" id='a' class="checky">
											  <span class="checkmark"></span>
											</label>
										</div>
									</div>
							
									<div class="row finaldate1">
										
										<div class="col finaldate1col">
							
											<div class="list finaldate-list">
												
												<div class="item item-thumbnail-left"  ng-repeat = "value in Timeslot"  >
												  <img src="assets\clock (1).png">
												  <h2 ng-if="value.type == 1"> I'M FLEXIBLE </h2>
												  <h2 ng-if="value.type == 2"> FIXED </h2>
												  <h4> BETWEEN </h4>
												  <p> {{value.time_from}}:00 to  {{value.time_to}}:00 </p>
												  <!-- <button class="button button-clear button-positive"> Free </button> -->
												  <label class="container" for="{{value}}">{{value.price}}
														<input type="radio" id='{{value}}' value="{{value}}" class="checky" name="radio">
														<span class="checkmark unikk" ng-click="savelocallyTime(value)"></span>
												  </label>
													</div>
							
											
							
											</div> 
							
										</div>
							
									</div>
								<button class=" wizard-btn next" >
										Next
								</button>
								<button class=" wizard-btn prev" id="prev">
										Previous
								</button>
								
									  
						 </div>
				 </section>

				 <!-- wizard two closed -->

				 <!-- wizard three open -->
				 
				 <section class="tab3">
						<div class="text-center">
								<h4>Delivery</h4>
						   </div>
						<div class="list">
								<div class="row marginrow"  ng-repeat="value in datelist"  ng-hide="!showAllDateList && $index > 4" ng-click="savelocallyDeliveryDate(value)">
										<div class="col next">
											<div class="h2 title" ng-if="value.name"> {{value.name}} </div>	
											<div class="h3 title"ng-if="!value.name"> {{value.shortDate}} </div>		
											<span class="iconsstyle" ng-if="value.price"> 
												<i class="icon ion-plus"></i> 
												<i class="icon ion-social-usd-outline"></i> 
												10
											</span>
										</div>
									</div>
							
									<!-- <div class="row">
										<div class="col next">
											<div class="h2 title"> DAY AFTER </div>
											<div class="h3 title"> 16th Sun </div>
										</div>
									</div>
							
									<div class="row">
										<div class="col next">
											<div class="h2 title tt1"> 17th Mon </div>
										</div>
									</div>
							
									<div class="row">
										<div class="col next">
											<div class="h2 title tt1"> 18th Tue </div>
										</div>
									</div> -->
							
									<div class="row " ng-if="!showAllDateList1">
										<div class="col next" ng-click="onOther1()">
											<div class="h2 title tt1"> OTHER </div>
										</div>
									</div>
							
									
							
															
						 </div>
				 </section>

				 <!-- wizard three closed -->

				  <!-- wizard four open -->
				 
				 <section class="tab4">
						<div class="text-center">
								<h4>Delivery</h4>
						</div>
						<div class="list">
								<div class="list">
										<div class="item headingfinal">
											Please Select the time to pricing
										</div>
										<div class="item">
											<label class="container" for="1">I'will leave at the door.
											  <input type="checkbox" id='1' class="checky" >
											  <span class="checkmark"></span>
											</label>
										</div>
									</div>
							
									<div class="row finaldate1">
										
										<div class="col finaldate1col">
							
											<div class="list finaldate-list">
												
											 <div class="item item-thumbnail-left"  ng-repeat = "value in Timeslot1">
												  <img src="assets\clock (1).png">
												  <h2 ng-if="value.type == 1"> I'M FLEXIBLE </h2>
												  <h2 ng-if="value.type == 2"> FIXED </h2>
												  <h4> BETWEEN </h4>
												  <p> {{value.time_from}}:00 to  {{value.time_to}}:00 </p>
												 
												  <label class="container" for="a{{value}}">{{value.price}}
														<input type="radio" name="radio2" value="" id="a{{value}}" class="checky" >
														<span class="checkmark unikk"  ng-click="savelocallyDeliveryTime(value)"></span>
												  </label>
												</div>	
												
							
											</div> 
							
										</div>
							
									</div>
								<button class=" wizard-btn next" ng-click="getLocalDetail()" >
										Next
								</button>
								<button class=" wizard-btn prev" id="prev">
										Previous
								</button>
								
								
									  
						 </div>
				 </section>
				  <!-- wizard four closed -->

				   <!-- wizard five open -->

				 <section class="tab5 mainmyorder xcv">
						<div class="text-center">
				
						</div>
						<div class="item item-body orderlistbody">
								<div class="row">
									<div class="col col-50 orderlistbody1pickup">
										<h3 class="pickupheading"> PICKUP </h3>
										<p class="para2heading para2headingmargin"> {{getLocalDetail.pickupDate.name}} </p>
										<p class="para2heading">{{getLocalDetail.pickupDate.shortDate}} </p>
										<p class="para2heading"> Between </p>
										<p class="para2heading"> {{getLocalDetail.pickupTime.time_from}}:00 to {{getLocalDetail.pickupTime.time_to}}:00 </p>
									</div>
				
									<div class="col col-50 orderlistbody1delivery">
										<h3> DELIVERY </h3>
										
										<p class="para2heading para2headingmargin">  {{getLocalDetail.deliveryDate.shortDate}} </p>
										<p class="para2heading"> Between </p>
										<p class="para2heading"> {{getLocalDetail.deliveryTime.time_from}}:00 to {{getLocalDetail.deliveryTime.time_to}}:00 </p>	
										<a href="#" class="closeankartag">
											<i class="icon ion-ios-close-outline"></i>
										</a>					
									</div>
								</div>
						</div>
						<div class="item item-body orderlistbody">	
								<div class="row">
									<div class="col" ng-show="getLocalDetail.pickupDate.price != ''">
										<a class="para1"> <i class="icon ion-ios-plus-outline" > </i> ${{getLocalDetail.pickupDate.price}} - Same day Pickup </a>
									</div>
								</div>
								<div class="row">
									<div class="col" ng-show="getLocalDetail.pickupTime.price != '0'">
										<a class="para1"> <i class="icon ion-ios-plus-outline" > </i>  ${{getLocalDetail.pickupTime.price}} - Fixid time delivery </a>
									</div>
								</div>		
							</div>

							<div class="item item-body orderlistbody">	
									<div class="row">
										<div class="col" ng-show="getLocalDetail.deliveryDate.price != ''">
											<a class="para1"> <i class="icon ion-ios-plus-outline"  > </i> ${{getLocalDetail.deliveryDate.price}} - Same day Pickup </a>
										</div>
									</div>
									<div class="row">
										<div class="col" ng-show="getLocalDetail.deliveryTime.price != '0'">
											<a class="para1"> <i class="icon ion-ios-plus-outline" > </i>  ${{getLocalDetail.deliveryTime.price}} - Fixid time delivery </a>
										</div>
									</div>		
								</div>
					
								<div class="item item-body orderlistbody">
					
									<div class="row">
										<div class="col colmargin">
											<p> Address : - <span class="borderdotdot"> {{getAddress.addresses[0].floor}}  {{getAddress.addresses[0].street_name}}</span></p>
										</div>
									</div>
					
									<div class="row">
										<div class="col colmargin">
											<p> CvCode : - <span class="borderdotdot"> {{getpayment.cvcode}} </span> </p>
										</div>
								
									</div>
									<div class="row">
							
										<div class="col colmargin">
											<p> Expiry month : - <span class="borderdotdot"> {{getpayment.expiry_month}} </span> </p>
										</div>
					
									</div>
									<div class="row">
										
										<div class="col colmargin">
											<p> Expiry year : - <span class="borderdotdot"> {{getpayment.expiry_year}} </span> </p>
										</div>
									</div>
									
								</div>
					
								<div class="item item-body orderlistbody">
					
									<div class="row">
					
										<div class="col col-50 orderlistbodypickup colmargin">
											<h3> PICKUP </h3>
								
										</div>
					
										<div class="col col-50 orderlistbodydelivery colmargin">
											<h3> DELIVERY </h3>
								
										</div>
					
									</div>
					
								</div>
								<button class=" wizard-btn submit" ng-click="createOrder()" >
									Submit
							  </button>
						
								
				 </section>
				 
				  <!-- wizard five closed-->
			</form>

			
			
		</div>

			

		


	</div>

</div>