<style>
    html {
        background-image: none !important;
	}

	.mybutton2
	{
		height: 25vw;
	}

</style>
<div ng-controller="OrdersummaryCtrl" class="myorder Deliverydate finaldate">
    <div class="container">
        <wizard on-finish="finished()" indicators-position="top" name="requestPickupWizard" edit-mode="true" ng-init="initializeWizard()">
            <wz-step wz-title="1" canenter="validateStep">
                <div class="row page-title-row">
                    <div class="col s10 page-title-row-col">
                        <div class='left-align'>
                            <h4>{{'request_pickup_date' | translate}}</h4>
                        </div>
                    </div>
                    <div class="col s2 page-title-row-col">
                        <div class='right-align'>
                            <div class="div_close_icon right-align" wz-cancel="onCancelOrder()">
                                <span class="material-icons">close</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="value in pickupDateList" ng-hide="!showAllpickupDateList && $index > 4" wz-next="performAction('SAVE_PICKUP_DATE', value)"
                    ng-class="{
								'today-div': value.name == 'Today',
								'tomorrow-div': value.name == 'Tomorrow',
							}">
                    <div class="col s12">
                        <div class="mybutton next row z-depth-4">
                            <div class="col s6 my_button_column">
                                <div class="row">
                                    <div class="col s12 my_button_title">
                                        <h5>{{value.name}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 my_button_sub_title">{{value.shortDate}} </div>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper my_button_column">
                                <span class="iconsstyle" ng-if="value.price">
                                    <span class="my_close_button"><i class="tiny material-icons my_close_button_icon">
                                            attach_money </i> {{value.price}}</span>
                                </span>
                            </div>
                            <div class="col s2 valign-wrapper my_button_column">
                                <span class="large material-icons base_color">chevron_right</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="!showAllpickupDateList">
                    <div ng-click="loadMorePickupDates()" class="col s12">
                        <div class="mybutton row z-depth-4">
                            <div class="col s6 my_button_column">
                                <div class="row">
                                    <div class="col s12 my_button_title">
                                        <h5>Other</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 my_button_sub_title">{{value.shortDate}} </div>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper my_button_column">
                                <span class="iconsstyle" ng-if="value.price">
                                    <span class="my_close_button"><i class="tiny material-icons my_close_button_icon">
                                            attach_money </i> {{value.price}}</span>
                                </span>
                            </div>
                            <div class="col s2 valign-wrapper my_button_column">
                                <span class="large material-icons base_color">chevron_right</span>
                            </div>
                        </div>
                    </div>
                </div>
            </wz-step>

            <wz-step wz-title="2" canenter="validateStep">
                <div class="row page-title-row">
                    <div class="col s10 page-title-row-col">
                        <div class='left-align'>
                            <h4>{{'request_pickup_date' | translate}}</h4>
                        </div>
                    </div>
                    <div class="col s2 page-title-row-col">
                        <div class='right-align'>
                            <div class="div_close_icon right-align" wz-cancel="onCancelOrder()">
                                <span class="material-icons">close</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='div_slots'>
                    <div class="row" ng-repeat="value in PickupTimeSlots" ng-class="{'active': localData.pickupTime && localData.pickupTime.id == value.id }">
                        <div class="col s12">
                            <div class="mybutton2 row z-depth-4" ng-click="!localData.pickupTime.leaveAtdoor && performAction('SELECT_PICKUP_TIME', value)" ng-class="{'fade': localData.pickupTime.leaveAtdoor}">
                                <div class="col s3 my_button_column" style='padding-right:0px'>
                                    <div class="row">
                                        <div class="col s12 my_button_title"><img width="100%" src="images\{{value.time_from}}.png"></div>
                                    </div>
                                </div>
                                <div class="col s6 valign-wrapper my_button_column" style='padding-right:0px'>
                                    <div class="row">
                                        <div class="col s12 my_button_title">
                                            <!-- we do not have one hour slot option now -->
                                            <!-- <span ng-if="value.type == 1">FLEXIBLE </span>
                                            <span ng-if="value.type == 2"> ONE HOUR SLOT </span> -->
                                            <h6 class="text-upper"> {{'text.between' | translate}} </h6>
                                            <h5> {{value.time_from}}:00 {{'text.to' | translate}} {{value.time_to}}:00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 valign-wrapper my_button_column" style='padding-right:0px'>
                                    <span class="iconsstyle">
                                        <span class="my_close_button"><i class="tiny material-icons my_close_button_icon">
                                                attach_money </i> {{value.price}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style='margin-top: 5vw; margin-bottom: 5vw' class="col s12 center-align">OR</div>
                </div>

                <div class='mybutton row  z-depth-4  valign-wrapper'>
                    <div class="col s9">
                        <div class="item ">
                            <label class="container" for="pickAtDoor"> {{'request_leave_at_door' | translate}}
                                <input type="checkbox" id='pickAtDoor' class="checky" name="pickAtDoor" ng-model="pickAtDoor" ng-checked="localData.pickupTime && localData.pickupTime.leaveAtdoor" ng-change="performAction('SELECT_PICKUP_AT_DOOR', pickAtDoor)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col s3 valign-wrapper my_button_column" style='padding-right:0px'>
                        <span>{{'text.free' | translate}}</span>
                    </div>
                </div>
                <div class="row" style='margin-top: 8vw'>
                    <button class=" wizard-btn left" wz-previous="noValidation()">{{'text.previous' | translate}}</button>
                    <button class="wizard-btn right" wz-next="performAction('SAVE_PICKUP_TIME')">{{'text.next' | translate}}</button>
                </div>
            </wz-step>

            <wz-step wz-title="3" canenter="validateStep">
                <div class="row page-title-row">
                    <div class="col s10 page-title-row-col">
                        <div class='left-align'>
                            <h4>{{'request_drop_date' | translate}}</h4>
                        </div>
                    </div>
                    <div class="col s2 page-title-row-col">
                        <div class='right-align'>
                            <div class="div_close_icon right-align" wz-cancel="onCancelOrder()">
                                <span class="material-icons">close</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row marginrow" ng-repeat="value in deliveryDateList" ng-hide="!showAlldeliveryDateList && $index > 4"
                    wz-next="performAction('SAVE_DELIVERY_DATE', value)" ng-class="{
										'tomorrow-div': value.name == 'Tomorrow',
										'day-after-div': value.name == 'day after',
									}">
                    <div class="col s12">
                        <div class="mybutton next row z-depth-4">
                            <div class="col s6 my_button_column">
                                <div class="row">
                                    <div class="col s12 my_button_title">
                                        <h5>{{value.name}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 my_button_sub_title">{{value.shortDate}} </div>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper my_button_column">
                                <span class="iconsstyle" ng-if="value.price">
                                    <span class="my_close_button"><i class="tiny material-icons my_close_button_icon">
                                            attach_money </i> {{value.price}}</span>
                                </span>
                            </div>
                            <div class="col s2 valign-wrapper my_button_column">
                                <span class="large material-icons  base_color">chevron_right</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="!showAlldeliveryDateList">
                    <div ng-click="loadMoreDeliveryDates()" class="col s12 next">
                        <div class="mybutton row z-depth-4">
                            <div class="col s6 my_button_column">
                                <div class="row">
                                    <div class="col s12 my_button_title">
                                        <h5>{{'text.other' | translate}}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 my_button_sub_title">{{value.shortDate}} </div>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper my_button_column">
                                <span class="iconsstyle" ng-if="value.price">
                                    <span class="my_close_button"><i class="tiny material-icons my_close_button_icon">
                                            attach_money </i> {{value.price}}</span>
                                </span>
                            </div>
                            <div class="col s2 valign-wrapper my_button_column">
                                <span class="large material-icons  base_color">chevron_right</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="wizard-btn" wz-previous="noValidation()">{{'text.previous' | translate}}</button>
            </wz-step>

            <wz-step wz-title="4" canenter="validateStep">
                <div class="row page-title-row">
                    <div class="col s10 page-title-row-col">
                        <div class='left-align'>
                            <h4>{{'request_drop_time' | translate}}</h4>
                        </div>
                    </div>
                    <div class="col s2 page-title-row-col">
                        <div class='right-align'>
                            <div class="div_close_icon right-align" wz-cancel="onCancelOrder()">
                                <span class="material-icons">close</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='div_slots'>
                    <div class="row" ng-repeat="value in DeliveryTimeSlots" ng-class="{'active': localData.deliveryTime && localData.deliveryTime.id == value.id }">
                        <div class="col s12">
                            <div class="mybutton2 row z-depth-4" ng-click="!localData.deliveryTime.leaveAtdoor && performAction('SELECT_DELIVERY_TIME', value)" ng-class="{'fade': localData.deliveryTime.leaveAtdoor}">
                                <div class="col s3 my_button_column" style='padding-right:0px'>
                                    <div class="row">
                                        <div class="col s12 my_button_title"><img width="100%" src="images\{{value.time_from}}.png"></div>
                                    </div>
                                </div>
                                <div class="col s6 valign-wrapper my_button_column" style='padding-right:0px'>
                                    <div class="row">
                                        <div class="col s12 my_button_title">
                                            <h6 class="text-upper"> {{'text.between' | translate}} </h6>
                                            <h5> {{value.time_from}}:00 {{'text.to' | translate}} {{value.time_to}}:00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 valign-wrapper my_button_column" style='padding-right:0px'>
                                    <span class="iconsstyle">
                                        <span class="my_close_button"><i class="tiny material-icons my_close_button_icon">
                                                attach_money </i> {{value.price}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style='margin-top: 5vw; margin-bottom: 5vw' class="col s12 center-align text-upper">{{'text.or' | translate}}</div>
                </div>

                <div class='mybutton row  z-depth-4  valign-wrapper '>
                    <div class="col s9">
                        <div class="item ">
                            <label class="container" for="deliveryDropAtDoor">{{'request_leave_at_door' | translate}}
                                <input type="checkbox" id="deliveryDropAtDoor" class="checky" name="deliveryAtDoor" ng-model="deliveryDropAtDoor"  ng-checked="localData.deliveryTime && localData.deliveryTime.leaveAtdoor" ng-change="performAction('SELECT_DELIVERY_AT_DOOR', deliveryDropAtDoor)" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col s3 valign-wrapper my_button_column" style='padding-right:0px'>
                        <span class="iconsstyle">
                            <span class="">{{'text.free' | translate}}</span>
                        </span>
                    </div>
                </div>
                <button class="wizard-btn left" wz-previous="noValidation()">{{'text.previous' | translate}}</button>
                <button class="wizard-btn right" wz-next="performAction('SAVE_DELIVERY_TIME')">{{'text.next' | translate}}</button>
            </wz-step>

            <wz-step wz-title="5" canenter="validateStep">
                <div class="row page-title-row">
                    <div class="col s10 page-title-row-col">
                        <div class='left-align'>
                            <h4>{{'request_pickup_order_summary' | translate}}</h4>
                        </div>
                    </div>
                    <div class="col s2 page-title-row-col">
                        <div class='right-align'>
                            <div class="div_close_icon right-align" wz-cancel="onCancelOrder()">
                                <span class="material-icons">close</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row summary-tabs">
                    <div class="col s6 center-align z-depth-4">
                        <div class="row">
                            <div class="col s12  center-align" style="background-color:#E1F5FE;;padding: 10px;    border-top-left-radius: 8px;">
                                <h4 style='text-transform: uppercase'>{{'text.pickup' | translate}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12  center-align">
                                {{localData.pickupDate.name}} {{localData.pickupDate.shortDate}}
                                <br>
                                <span class="para2heading" ng-if="localData.pickupTime.leaveAtdoor != 'y'">
                                    {{localData.pickupTime.time_from}}:00 {{'text.to' | translate}}
                                    {{localData.pickupTime.time_to}}:00 </span>
                                <span ng-if="localData.pickupTime.leaveAtdoor == 'y'">{{'request_pickup_order_summary' | translate}} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12  center-align">
                                <table style='margin: 15px 0px 15px 0px;   border-collapse:  none'>
                                    <tr>
                                        <td><a class='my_close_button text-upper'>{{'text.change' | translate}}</a></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col s6 center-align z-depth-4">
                        <div class="row">
                            <div class="col s12  center-align" style="background-color:#E1F5FE;;padding: 10px;    border-top-right-radius: 8px;">
                                <h4 class="text-upper">{{'text.delivery' | translate}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12  center-align">
                                {{localData.deliveryDate.name}} {{localData.deliveryDate.shortDate}} <br>
                                <span class="para2heading" ng-if="localData.pickupTime.leaveAtdoor != 'y'">
                                    {{localData.pickupTime.time_from}}:00 {{'text.to' | translate}}
                                    {{localData.pickupTime.time_to}}:00 </span>
                                <span ng-if="localData.pickupTime.leaveAtdoor == 'y'">{{'request_leave_at_door_short' | translate}} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12  center-align">
                                <table style='margin: 15px 0px 15px 0px;   border-collapse:  none'>
                                    <tr>
                                        <td><a class='my_close_button'>{{'text.change' | translate}}</a></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  valign-wrapper mybutton  z-depth-4" style='height: unset; background-color: #E1F5FE'>
                    <div class="col s2"><img src='images/dollar.png' width="100%"></div>
                    <div class="col s10">
                        <b>{{'request_pickup_extra_charges' | translate}}</b><br>
                        <div class="item item-body orderlistbody">

                            <div ng-show="localData.pickupDate.price">
                                <i class="icon ion-ios-plus-outline"> </i> ${{localData.pickupDate.price}} -
                                {{localData.pickupDate.name}} Pickup
                            </div>


                            <div ng-show="localData.pickupTime.price && localData.pickupTime.price != '0'">
                                <i class="icon ion-ios-plus-outline"> </i> ${{localData.pickupTime.price}} - {{'request_pickup_fixed_time_pickup' | translate}}
                            </div>

                        </div>

                        <div class="item item-body orderlistbody">

                            <div ng-show="localData.deliveryDate.price != ''">
                                <i class="icon ion-ios-plus-outline"> </i> ${{localData.deliveryDate.price}} -
                                {{'request_pickup_next_day_delivery' | translate}}
                            </div>


                            <div ng-show="localData.deliveryTime.price && localData.deliveryTime.price != '0'">
                                <i class="icon ion-ios-plus-outline"> </i> ${{localData.deliveryTime.price}} - {{'request_pickup_fixed_time_drop' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  valign-wrapper mybutton  z-depth-4 " style="height: unset;">
                    <div class="col s2 valign-wrapper"><img src='images/mastercard.png' width="100%"></div>
                    <div class="col s6">
                        <span  ng-if="!getpayment.number">
                            <a href="#/add-payment">{{'reqeust_pickup_add_payment' | translate}} </a>
                        </span>
                        <span ng-if="getpayment.payment_type">
                            {{getpayment.payment_type}}
                        </span><br>
                        <span  ng-if="getpayment.number">
                                {{'request_pikcup_card_end_with' | translate}}: -<span class="borderdotdot"> {{getpayment.number | limitTo:-4}} </span>
                        </span>
                        <span  ng-if="getpayment.expiry_date">
                                {{'request_pickup_card_expiry_date' | translate}} : - <span class="borderdotdot"> {{getpayment.expiry_date}} </span>
                        </span>
                        <span  ng-if="getpayment.expiry_month">
                           {{'request_pickup_card_expiry_month' | translate}}: - <span class="borderdotdot"> {{getpayment.expiry_month}} </span>
                        </span>
                    </div>

                    
                    <div class="col s4">
                        <table style='margin: 15px 0px 15px 0px;   border-collapse:  none'>
                            <tr>
                                <td><a class='my_close_button text-upper'>{{'text.change' | translate}} </a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row mybutton  valign-wrapper  z-depth-4 " style="height: unset;">
                    <div class="col s2 valign-wrapper"><img src='images/address.png' width="100%"></div>
                    <div class="col s6">
                        <span ng-if="getAddress.addresses.length == 0">
                            <a href="#/add-address">{{'text.add_address' | translate}}  </a>
                        </span>
                        <span ng-if="getAddress.addresses.length != 0">
                            <span class="borderdotdot">{{getAddress.addresses[0].street_name}},
                                    {{'address_details.floor' | translate}} :{{getAddress.addresses[0].floor}}, 
                                    {{'address_details.unit_number' | translate}} :{{getAddress.addresses[0].unit_number}} </span>
                        </span>
                    </div>
                    <div class="col s4">
                        <table style='margin: 15px 0px 15px 0px;   border-collapse:  none'>
                            <tr>
                                <td><a class='my_close_button text-upper'>{{'text.change' | translate}} </a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                
                <button class="wizard-btn left" wz-previous="noValidation()">
                    {{'text.previous' | translate}}
                </button>
                <button type="submit" class="wizard-btn right" wz-next="createOrder()" >
                        {{'text.submit' | translate}}
                </button>
            </wz-step>
        </wizard>
    </div>

</div>