
<div ng-controller="PaymentmethodCtrl" class="paymentmethod">

	<div class="ion-content mainpaymentmethod">
	
		<div class="bar bar-header bar-balanced">

		  <a href="#/dashboard">
		  	<button class="button button-icon icon ion-android-arrow-back"></button>
		  </a>

		  <div class="h1 title"> Payment </div>	

		</div>	

		<div class="row topmargin"> </div>



		<div class="row">

			<div class="col"> 

				<div class="list card" ng-repeat="paymentDetail in paymentDetails">

					<div class="item headingfont">

						<div class="row rowbtn">

							<div class="col col-80 col1">
					
								{{paymentDetail.name}}

							</div>

							<div class="col col-20 col2">
								<a href="#" class="ankartag1">
								  	<i class="icon icon ion-close-circled deletebtn"></i>
								</a>
							</div>

						</div> 	
					  	
					</div>

					<div class="item item-icon-left bodyfont">
						<!-- <div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">Name</span>
									{{card.Name}}
								</label>
							</div>
						</div> -->
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">Number</span>
									<!-- <input type="text" ng-model="card.Number" class="inputbox1"> -->
									{{paymentDetail.number}}
								</label>
							</div>
						</div>
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">Cv Code</span>
									<!-- <input type="text" ng-model="card.cvcode" class="inputbox1"> -->
									{{paymentDetail.cvcode}}
								</label>
							</div>
						</div>
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">Expiry year</span>
									<!-- <input type="text" ng-model="card.Expiry"  class="inputbox1"> -->
									{{paymentDetail.expiry_year}}
								</label>
							</div>
						</div>
						<div class="row bodyfont1">
							<div class="col list bodyfont2"> 								
								<label class="item item-input backgroundfont">
									<span class="input-label">Expiry month</span>
									<!-- <input type="text" ng-model="card.Expiry"  class="inputbox1"> -->
									{{paymentDetail.expiry_month}}
								</label>
							</div>
						</div>
					</div>

					<div class="item borderremove">

						<div class="row rowbtn">

							<div class="col col1">
					
								<label class="container">Lorem Ipsum is simply
								  <input type="checkbox" checked="checked">
								  <span class="checkmark"></span>
								</label>

							</div>

							<div class="col coleditbtnb" >
								<a ng-click="editPayment(paymentDetail.id)" href="#/edit-payment/{{paymentDetail.id}}">
									<i class="icon ion-edit"> </i>	  
								</a>
							</div>

						</div> 	

					</div>

				</div>

			</div>

		</div>
		<div ng-if="loading" class="loader">Loading...</div>

		<div class="row bottommargin">
			
		</div>

		<div class="bar bar-footer bar-balanced">
		  <!-- <div class="title">Footer</div> -->

			<div class="row">

				<div class="col footerbtnlink">

					<a href="#" class="linkpaymentmethod">
						<i class="icon ion-plus"> </i>	  
						ADD ANOTHER PAYMENT TYPE	
					</a>

			     </div>	

			</div>

		</div> 	

	</div>


</div>