<div ng-controller="PricingCtrl" class="pricingpage">

	<div class="ion-content mainpricingpage">

		<div class="bar bar-header bar-balanced">
		  <a href="dashboard">
		  	<button class="button button-icon icon ion-android-arrow-back"></button>
		  </a>
		  <div class="h1 title"> PRICING </div>	
		</div>		
			
		<div class="row topmargin">
			
		</div>

		<div class="">

			<div class="item item-divider heading">
				<i class="icon ion-pound"></i>
				Wearables				
			</div>

			<div class="item item-text-wrap">
				<div class="card">	
					<div class="item item-divider heading1">
						<i class="icon ion-ios-star"></i>
						Upper Body Only
					</div>
					<div class="item item-text-wrap">
						<div class="row">
							<div class="col-80">
								Suit(s)
							</div>
							<div class="col-20">$45</div>
						</div>
						<div class="row">
							<div class="col-80">
								Shirt(s)
							</div>
							<div class="col-20">$30</div>
						</div>
						<div class="row">
							<div class="col-80">							
								Tie(s)
							</div>
							<div class="col-20">$5</div>
						</div>

					</div>

				</div>
				<div class="card">	
					<div class="item item-divider heading1">
						<i class="icon ion-ios-star"></i>
						Lower Body Only
					</div>
					<div class="item item-text-wrap">
						<div class="row">
							<div class="col-80">
								Jean(s)
							</div>
							<div class="col-20">$28</div>
						</div>
						<div class="row">
							<div class="col-80">
								Trouser(s)
							</div>
							<div class="col-20">$25</div>
						</div>
						<div class="row">
							<div class="col-80">
								Short(s)
							</div>
							<div class="col-20">$16</div>
						</div>

					</div>

				</div>
				<div class="card">	
					<div class="item item-divider heading1">
						<i class="icon ion-ios-star"></i>
						Other
					</div>
					<div class="item item-text-wrap">
						<div class="row">
							<div class="col-80">
								Jean(s)
							</div>
							<div class="col-20">$28</div>
						</div>
						<div class="row">
							<div class="col-80">
								Trouser(s)
							</div>
							<div class="col-20">$25</div>
						</div>
						<div class="row">
							<div class="col-80">
								Short(s)
							</div>
							<div class="col-20">$16</div>
						</div>

					</div>

				</div>
			</div>

		</div>

		<div class="">

			<div class="item item-divider heading">
				<i class="icon ion-pound"></i>
				Non Wearables
			</div>

			<div class="item item-text-wrap">
				<div class="card">	
					<div class="item item-divider heading1">
						<i class="icon ion-ios-star"></i>
						Upper Body Only
					</div>
					<div class="item item-text-wrap">
						<div class="row">
							<div class="col-80">
								Suit(s)
							</div>
							<div class="col-20">$45</div>
						</div>
						<div class="row">
							<div class="col-80">
								Shirt(s)
							</div>
							<div class="col-20">$30</div>
						</div>
						<div class="row">
							<div class="col-80">							
								Tie(s)
							</div>
							<div class="col-20">$5</div>
						</div>

					</div>

				</div>
				<div class="card">	
					<div class="item item-divider heading1">
						<i class="icon ion-ios-star"></i>
						Lower Body Only
					</div>
					<div class="item item-text-wrap">
						<div class="row">
							<div class="col-80">
								Jean(s)
							</div>
							<div class="col-20">$28</div>
						</div>
						<div class="row">
							<div class="col-80">
								Trouser(s)
							</div>
							<div class="col-20">$25</div>
						</div>
						<div class="row">
							<div class="col-80">
								Short(s)
							</div>
							<div class="col-20">$16</div>
						</div>

					</div>

				</div>
				<div class="card">	
					<div class="item item-divider heading1">
						<i class="icon ion-ios-star"></i>
						Other
					</div>
					<div class="item item-text-wrap">
						<div class="row">
							<div class="col-80">
								Jean(s)
							</div>
							<div class="col-20">$28</div>
						</div>
						<div class="row">
							<div class="col-80">
								Trouser(s)
							</div>
							<div class="col-20">$25</div>
						</div>
						<div class="row">
							<div class="col-80">
								Short(s)
							</div>
							<div class="col-20">$16</div>
						</div>

					</div>

				</div>
			</div>

		</div>

		<div class="row bottommargin">
			
		</div>



		<div class="bar bar-footer bar-balanced">
			  <div class="title">Footer</div>
		</div>

	</div>

</div>

		
		<!--
		
		<div class="row row1">

			<div class="col padding"> 
				<button class="button"> Wearables</button>
					<div class="row vlr">
						<div class="col vl">
							<span class="pricecolor ion-pound"> Upper Body Only </span>
							<div class="row">
								<div class="col">T-shirt </div>
								<div class="col">$5 </div>
								
							</div>
							<div class="row">
								<div class="col">T-shirt </div>
								<div class="col">$5 </div>
								
							</div>
						</div>
					</div>
					<div class="row vlr">
						<div class="col vl">
							<span class="pricecolor ion-ios-arrow-thin-right"> Lower Body Only </span>
							<div class="row">
								<div class="col">Jean </div>
								<div class="col">$4 </div>
							</div>
							<div class="row">
								<div class="col">Jean </div>
								<div class="col">$4 </div>
								
							</div>
						</div>
					</div>
					<div class="row vlr">
						<div class="col vl">
							<span class="pricecolor ion-ios-arrow-thin-right"> Others </span>
							<div class="row">
								<div class="col">Other1 </div>
								<div class="col">$4 </div>
							</div>
							<div class="row">
								<div class="col">Other2 </div>
								<div class="col">$5 </div>
								
							</div>
						</div>
					</div>

			</div>

		</div>

		<div class="row">

			<div class="col padding"> 
				<button class="button"> Non Wearables</button>
					<div class="row vlr">
						<div class="col">
							<div class="row">
								<div class="col">Other1 </div>
								<div class="col">$4 </div>
							</div>
							<div class="row">
								<div class="col">Other2 </div>
								<div class="col">$5 </div>
								
							</div>
							<div class="row">
								<div class="col">Other3 </div>
								<div class="col">$4 </div>
								
							</div>
						</div>
					</div>
			</div>

		</div> 

		
		-->
