<div ng-controller="FinaldateCtrl" class="finaldate">

	<div class="ion-content mainfinaldate">
	
		<div class="bar bar-header bar-balanced">
		  <a href="dashboard">
		  	<button class="button button-icon icon ion-android-arrow-back"></button>
		  </a>
		  <div class="h1 title"> Select Tima & Price </div>	
		</div>

		<div class="row topmargin">	</div>


		<div class="list">
			<div class="item headingfinal">
				Please Select the time to pricing
			</div>
			<div class="item">
				<label class="container">I'will leave at the door.
				  <input type="checkbox" checked="checked">
				  <span class="checkmark"></span>
				</label>
			</div>
		</div>

		<div class="row finaldate1">

			<div class="col finaldate1col">

				<div class="list">

				    <a class="item item-thumbnail-left" href="#">
				      <img src="assets\clock (1).png">
				      <h2> I'M FLEXIBLE </h2>
				      <h4> BETWEEN </h4>
				      <p> 9:00 to 18:00 </p>
				      <button class="button button-clear button-positive"> Free </button>
				    </a>

				    <a class="item item-thumbnail-left" href="#">
				      <img src="assets\clock (1).png">
				      <h2> I'M FLEXIBLE </h2>
				      <h4> BETWEEN </h4>
				      <p> 18:00 to 21:00 </p>
				      <button class="button button-clear button-positive">Free</button>
				    </a>

				    <a class="item item-thumbnail-left" href="#">
				      <img src="assets\clock (1).png">
				      <h2> I'M FLEXIBLE </h2>
				      <h4> BETWEEN </h4>
				      <p> 9:00 to 11:00 </p>
				      <button class="button button-clear button-positive">+$20</button>
				    </a>

				    <a class="item item-thumbnail-left" href="#">
				      <img src="assets\clock (1).png">
				      <h2> I'M FLEXIBLE </h2>
				      <h4> BETWEEN </h4>
				      <p> 9:00 to 10:00 </p>
				      <button class="button button-clear button-positive">+$30</button>
				    </a>

				    <a class="item item-thumbnail-left" href="#">
				      <img src="assets\clock (1).png">
				      <h2> I'M FLEXIBLE </h2>
				      <h4> BETWEEN </h4>
				      <p> 9:00 to 10:00 </p>
				      <button class="button button-clear button-positive">+$30</button>
				    </a>

				    <a class="item item-thumbnail-left" href="#">
				      <img src="assets\clock (1).png">
				      <h2> I'M FLEXIBLE </h2>
				      <h4> BETWEEN </h4>
				      <p> 9:00 to 10:00 </p>
				      <button class="button button-clear button-positive">+$30</button>
				    </a>

				</div> 

			</div>

		</div>


		<div class="row bottommargin">	</div>

		<div class="bar bar-footer bar-balanced">
			  <div class="title">Footer</div>
		</div>	

	</div>

</div>