<div ng-controller="SignupCtrl" class="signuppage">
	
	<div class="bar bar-header bar-balanced">
	  <a href="#">
	  	<button class="button button-icon icon ion-android-arrow-back"></button>
	  </a>
	  <div class="h1 title"> Sign-up </div>		
	</div>

	<div class="row">
		<div class="col signuplogoimage">
	      <img src="assets/laundarylogo.jpg" height="200px">
	     </div>
	</div>

	<!-- 	
	<div class="row">
		<div class="col" style="text-align: center;">
	      Signup
	     </div>
	</div> 
	-->

	<div class="row row1">

		<div class="col singuptran">

	      <div class="list">

			  <label class="item item-input item-stacked-label signupinput1">
			    <span class="input-label ion-person">Name</span>
			    <input type="text" required="" autofocus class="inputbottomborder">
			  </label>

			  <label class="item item-input item-stacked-label signupinput1">
			    <span class="input-label ion-person">Email</span>
			    <input type="email" required="" autofocus class="inputbottomborder">
			  </label>

			  <label class="item item-input item-stacked-label  signupinput1">
			    <span class="input-label ion-person">Password</span>
			    <input type="password" required="" autofocus class="inputbottomborder">
			  </label>

			  <label class="item item-input item-stacked-label signupinput1">
			    <span class="input-label ion-person">Confirm Password</span>
			    <input type="password" required="" autofocus class="inputbottomborder">
			  </label>

			</div>

	     </div>	

	</div>

	<div class="row">

		<div class="col signupbtn">
			<button class="button button-full button-balanced">
			  Submit
			</button>
	     </div>	

	</div>

	<div class="row">

		<div class="col facebookbtn">
			<button class="button button-full button-positive">
				<ion-icon class="ion-social-facebook"></ion-icon>
				Facebook
			</button>
	     </div>	

	</div>

</div>