<div ng-controller="SignupCtrl">
	
	<div class="row">
		<div class="col" style="text-align: center;">
	      <img src="assets/laundarylogo.jpg" height="200px">
	     </div>
	</div>

	<div class="row">
		<div class="col" style="text-align: center;">
	      Signup
	     </div>
	</div>

	<div class="row">

		<div class="col">

	      <div class="list">

			  <label class="item item-input" style="margin: 5px;">
			    <span class="input-label">Name</span>
			    <input type="text" required="">
			  </label>

			  <label class="item item-input" style="margin: 5px;">
			    <span class="input-label">Email</span>
			    <input type="email" required="">
			  </label>

			  <label class="item item-input" style="margin: 5px;">
			    <span class="input-label">Password</span>
			    <input type="password" required="">
			  </label>

			  <label class="item item-input" style="margin: 5px;">
			    <span class="input-label">Confirm Password</span>
			    <input type="password" required="">
			  </label>

			</div>

	     </div>	

	</div>

	<div class="row">

		<div class="col" style="text-align: center; margin: 10px;">
			<button class="button button-full button-positive">
			  Submit
			</button>
	     </div>	

	</div>

	<div class="row">

		<div class="col" style="text-align: center; margin: 10px;">
			<button class="button button-full button-balanced">
			  FACEBOOK!
			</button>
	     </div>	

	</div>

</div>