<!DOCTYPE html>

<html lang="en" ng-app="laundryApp" ng-cloak>

<head>
    <title>Laundary App</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,">
    <!-- load ionic and self CDN -->
    <!-- <link rel="stylesheet" href="css/ionic.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionic/1.3.2/css/ionic.css"> -->
    <link href="css/custom/fonts.css" rel="stylesheet">
    <link href="css/custom/materialize-icons.css" rel="stylesheet">
    <link href="css/libraries/materialize.min.css" rel="stylesheet">
    <link href="css/libraries/angular-wizard.min.css" rel="stylesheet">
    <link href="css/custom/custom.css" rel="stylesheet">

    <style>
        html {
            font-size: 4.5vw;
        }

        input {
            font-size: 4.5vw !important;
            font-family: 'roboto';
        }
    </style>
</head>

<body ng-controller="AppController">
    <div class="navbar-fixed" ng-if="hideNavBar == false">
        <div class="nav-wrapper">
            <table class='top_bar' cellspcaing=0 cellpadding=0>
                <tr>

                    <td width='20%' valign='center' align='middle'><a href="javascript:void(0)"
                            style='display:block;' data-target="slide-out" class="sidenav-trigger"><i style='font-size: 7vw'
                                class="material-icons">dehaze</i></a></td>
                    <td width='60%' valign='center' align='middle'><a href="javascript:void(0)" ng-click="goTo('/dashboard')"><img src="images/logo-top.png"
                                style="height:7vw" alt=""></a></td>
                    <td width="20%" valign="center" align="middle">
                        <a href="javascript:void(0)" ng-if="!showBackBtn || showBackBtn == false">
                            <i style="font-size: 7vw;" class="material-icons">local_phone</i>
                        </a>
                        <a href="javascript:window.history.back()" ng-if="showBackBtn == true">
                            <i style="font-size: 10vw;" class="material-icons">chevron_left</i>
                        </a>
                    </td>

                </tr>
            </table>
        </div>
        <div class='curve'></div>
    </div>
    <div class="no-internet" ng-if="!isOnline">
        <div class="no-internet-text">
            No internet connection!
        </div>  
    </div>

    <ng-view></ng-view>

    <!-- menu starts here -->
    <div>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="" style='text-align:center; margin-top: 20px; width: 100%'>
                    <img class="" style='width:4em' src="images/logo.png">
                </div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="javascript:void(0)" ng-click="goTo('/dashboard')"><i class="tiny material-icons">home</i>{{'menu_link_home' | translate}}</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="javascript:void(0)" ng-click="goTo('/ordersummary')"><i class="tiny material-icons">local_shipping</i>{{'menu_request_pickup' | translate}}</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="javascript:void(0)" ng-click="goTo('/mydetails')"><i class="tiny material-icons">person</i>{{'menu_link_my_details' | translate}}</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="javascript:void(0)" class='line-through'><i class="tiny material-icons">notifications</i>{{'menu_link_notifications' | translate}}</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="javascript:void(0)" class='line-through'><i class="tiny material-icons">question_answer</i>{{'menu_link_faqs' | translate}}</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="javascript:void(0)" class='line-through'><i class="tiny material-icons">attach_money</i>{{'menu_link_pricing' | translate}}</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="javascript:void(0)" class='line-through'><i class="tiny material-icons">cloud</i>{{'menu_link_about' | translate}} EazyWash</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="sidenav-close" href="javascript:void(0)" id="signout" ng-click="signout()"><i class="tiny material-icons">power_settings_new</i>{{'menu_link_logout' | translate}}</a></li>
            <li>
                <div class="divider"></div>
            </li>

            <li>
				<ng-include src="'views/includes/lang-btns.html'"></ng-include>
            </li>
            <!-- <li><a class="subheader"><i class="material-icons">cloud</i>Subheader</a></li> -->
            <!-- <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> -->
        </ul>
        <!-- menu ends here -->
    </div>


    <!-- No Services Modal -->
    <div class="modal" id="noServiceModal" role="dialog" apply-modal>
        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">{{'service_not_available' | translate}}
                <div class="div_close_icon right-align modal-close">
                    <span class="material-icons">close</span>
                </div>
            </h4>
        </div>
        <div class="modal-content">
            <p class="m-0">Sorry we are not yet serving your city but will let you know as soon as we get there.</p>
            
        </div>
    </div>
    <!-- End No Services Modal -->

    <!--Address Card Template-->
    <script type="text/ng-template" id="address-card.html">
        <div class="row card-box  valign-wrapper  z-depth-4 " style="height: unset;">
            <div class="col s2 valign-wrapper"><img src='images/address.png' width="100%"></div>
            <div class="col" ng-class="$index > -1?'s10':'s7'">
                <div ng-hide="$index > -1"><strong>{{'address_details_text' | translate}}</strong></div>
                <span ng-if="getAddress != null">
                    <div class="borderdotdot">{{getAddress.street_name}}, {{getAddress.floor}} <span ng-if="getAddress.as_default == 1" class="text-success"><i class="material-icons dp48">check_circle</i></span></div>
                    <div>{{'address_details.unit_number' | translate}} :- {{getAddress.unit_number}}</div>
                    <div>{{'address_details.po_box' | translate}} :- {{getAddress.pobox}}</div>
                    <!-- <div ng-bind="displayCityName(address_details.city_id)"></div> -->
                </span>
            </div>
            <div class="col s3 px-0" ng-hide="$index > -1">
                <table style='margin: 15px 0px 15px 0px; border-collapse:  none'>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" class="round_button small-fixed-width-btn text-upper modal-trigger" data-target="addressChangeModal" ng-if="AllAddresses.length > 1">{{'text.change' | translate}}</a>
                            <a href="javascript:void(0)" class="round_button small-fixed-width-btn text-upper" ng-click="openAddAddressModal()" ng-if="AllAddresses.length == 1">{{'text.change' | translate}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>           
    </script>

    <!--Vault Card Template-->
    <script type="text/ng-template" id="vault-card.html">
        <div class="row  valign-wrapper card-box  z-depth-4 " style="height: unset;">
            <div class="col s2 valign-wrapper"><img src='images/credit-card.png' width="100%"></div>
            <div class="col" ng-class="$index > -1?'s10':'s7'">
                <div ng-hide="$index > -1"><strong>{{'payement_details_text' | translate}}</strong></div>
                <div ng-if="getPayment.payment_type">
                    <span class="borderdotdot" ng-bind="displayCardName(getPayment.payment_type)"> </span> <span ng-if="getPayment.as_default == 1" class="text-success"><i class="material-icons dp48">check_circle</i></span>
                </div>
                <div  ng-if="getPayment.number">
                    {{'request_pikcup_card_end_with' | translate}} :- <span class="borderdotdot"> {{getPayment.number | limitTo:-4}} </span>
                </div>
                <div>
                    {{'text.expiry' | translate}} :- <span class="borderdotdot"> {{getPayment.expiry_month}}/{{getPayment.expiry_date}} </span>
                </div>
            </div>

            
            <div class="col s3 px-0" ng-hide="$index > -1">
                <table style='margin: 15px 0px 15px 0px;   border-collapse:  none'>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" class="round_button small-fixed-width-btn text-upper modal-trigger" data-target="vaultChangeModal" ng-if="AllPayments.length > 1">{{'text.change' | translate}}</a>
                            <a href="javascript:void(0)" class="round_button small-fixed-width-btn text-upper" ng-click="openAddVaultModal()" ng-if="AllPayments.length == 1">{{'text.change' | translate}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </script>
   

    <!--Address Form Template-->
    <script type="text/ng-template" id="address-form.html">
        <div class="row">
            <div class="col-sm-12">
                <p class="msg msg-error" ng-show="addressErr">{{addressErrorMessage}}</p>
                
                <div class="form-group">
                    <label class="font-weight-bold">{{'address_details.street_name' | translate}}</label>
                    <input type="text" name="street_name" class="form-control" ng-disabled="loading" ng-model="addressDetails.street_name" autofocus />
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">{{'address_details.floor' | translate}}</label>
                    <input type="text" name="floor" class="form-control" ng-disabled="loading" ng-model="addressDetails.floor" />
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">{{'address_details.unit_number' | translate}}</label>
                    <input type="text" name="unit_number" class="form-control" ng-disabled="loading" ng-model="addressDetails.unit_number" />
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">{{'address_details.po_box' | translate}}</label>
                    <input type="text" name="pobox" class="form-control" ng-disabled="loading" ng-model="addressDetails.pobox" />
                </div>

                <!-- <div class="form-group">
                    <label class="font-weight-bold">{{'address_details.city' | translate}}</label>
                    <select ng-model="addressDetails.city_id" ng-disabled="loading" name="city" class="form-control" required>
                        <option value="">{{'text.select' | translate}} {{'address_details.city' | translate}}</option>
                        <option ng-repeat="value in cityData"  value="{{value.id}}">
                            {{value.title}}
                        </option>
                    </select>
                </div> -->
            </div>
        </div>
    </script>

    <!--Vault Form Template-->
    <script type="text/ng-template" id="vault-form.html">
        <p class="alert alert-danger" ng-show="paymentErr">{{paymentErrorMessage}}</p>
        <div class="paymentIframeContainer"></div>
    </script>

    <!-- Loder -->   
    <script type="text/ng-template" id="loader.html">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </script>

    <!-- Main Loader -->
    <ng-include src="'views/includes/main-loader.html'"></ng-include>

    <!-- App Scripts -->
    <script src="cordova.js"></script>

    <!-- Scripts -->
    <script src="js/libraries/jquery.min.js"></script>
    <script src="js/libraries/jquery-3.3.1.slim.min.js"></script>
    <script src="js/libraries/jquery.validate.js"></script>
    <script src="js/libraries/materialize.min.js"></script>


    <script src="js/libraries/angular.min.js"></script>
    <script src="js/libraries/ng-cordova.js"></script>
    <script src="js/libraries/angular-route.js"></script>
    <script src="js/libraries/ngStorage.min.js"></script>
    <script src="js/libraries/angular-cookies.min.js"></script>
    <script src="js/libraries/angular-messages.min.js"></script>
    <script src="js/libraries/angular-validate.min.js"></script>
    <script src="js/libraries/angular-wizard.min.js"></script>
    <script src="js/libraries/angular-translate/angular-translate.js"></script>
	<script src="js/libraries/angular-translate/angular-translate-handler-log.js"></script>
	<script src="js/libraries/angular-translate/angular-translate-storage-cookie.js"></script>
	<script src="js/libraries/angular-translate/angular-translate-storage-local.js"></script>
	<script src="js/libraries/angular-translate/angular-translate-loader-static-files.js"></script>

    <!-- Load main.js -->
    <script src="js/custom/main.js"></script>

    <!-- Load main app.js -->
    <script src="js/custom/app.js"></script>
    <script src="js/custom/all-controller.js"></script>

</body>

</html>