<style>
	html {
		background-image: none !important;
	}
</style>	


<div ng-controller="AddressCtrl" class="">
	<div class="container personal" style='margin-bottom: 20px'>
			<div class="row page-title-row">
				<div class="col s12">
					<div class='left-align'>
						<h4 ng-if="id > 0">{{'text.edit_address' | translate}}</h4>
						<h4 ng-if="!(id > 0)">{{'text.add_address' | translate}}</h4>
					</div>
				</div>
      </div>
      
      <div class="row">

        <div class="col">

          <form>

            <div class="list">

              <label class="item item-input">
                <span class="input-label">{{'address_details.street_name' | translate}}</span>
                <input type="text" autofocus="" ng-model="addressData.street_name">
              </label>

              <label class="item item-input">
                <span class="input-label">{{'address_details.floor' | translate}}</span>
                <input type="text" autofocus="" ng-model="addressData.floor">
              </label>

              <label class="item item-input">
                <span class="input-label">{{'address_details.po_box' | translate}}</span>
                <input type="text" autofocus="" ng-model="addressData.pobox">
              </label>

              <label class="item item-input">
                <span class="input-label">{{'address_details.unit_number' | translate}}</span>
                <input type="text" autofocus="" ng-model="addressData.unit_number">
              </label>

              
              <label class="item item-input item-select">
                <div class="input-label">
                  {{'address_details.city' | translate}}
                </div>
                <select ng-model="addressData.city_id">
                  <option ng-repeat="value in cityData" value="{{value.id}}">
                    {{value.title}}
                  </option>
                </select>
              </label>

              <p class="red ml-0" ng-show"err">{{err}}</p>

              <div class="row" style='margin-top: 20px'><div class="col s12 center-align" ><a class='my_close_button z-depth-3' href='javascript:void(0)' ng-click="onAddSubmit()">{{'text.save_address' | translate}}</a></div></div>

            </div>

          </form>

        </div>

      </div>

      <div ng-if="loading" class="loader">Loading...</div>
			
	</div>
</div>
