<div ng-controller="AddressCtrl" class="">
	<div class="container personal" style='margin-bottom: 20px'>
			<h4 class="page-heading" ng-if="id > 0">{{'text.edit_address' | translate}}</h4>
			<h4 class="page-heading" ng-if="!(id > 0)">{{'text.add_address' | translate}}</h4>
      
      <div class="row">

        <div class="col">
          <form name="addressForm" ng-submit="!loading && saveAddressDetails(addressForm)" autocomplete="off" ng-validate="addressDetailsValidationOptions"">

              <div class="form-group">
                <label class="input-label">{{'address_details.street_name' | translate}}</label>
                <input type="text" class="form-control" name="street_name" ng-model="addressData.street_name">
              </div>

              <div class="form-group">
                <label class="input-label">{{'address_details.floor' | translate}}</label>
                <input type="text" class="form-control" name="floor" ng-model="addressData.floor">
              </div>

              <div class="form-group">
                <label class="input-label">{{'address_details.po_box' | translate}}</label>
                <input type="text" class="form-control" name="pobox" ng-model="addressData.pobox">
              </div>

              <div class="form-group">
                <label class="input-label">{{'address_details.unit_number' | translate}}</label>
                <input type="text" class="form-control" name="unit_number" ng-model="addressData.unit_number">
              </div>

              
              <div class="form-group item-select">
                <label class="input-label">
                  {{'address_details.city' | translate}}
                </label>
                <select name="city" class="form-control" ng-model="addressData.city_id">
                  <option ng-repeat="value in cityData" value="{{value.id}}">
                    {{value.title}}
                  </option>
                </select>
              </div>

              <div class="row" style='margin-top: 20px'>
                <div class="col s12 center-align" >
                  <button type="submit" class="round_button action-btn">{{'text.save_address' | translate}}</button>
                </div>
              </div>
          </form>
        </div>
      </div>

      <div ng-if="loading" class="loader">Loading...</div>
			
	</div>
</div>
