<style>
	body {
        font-size: 4.5vw;
    }
    input
    {
        font-size: 4.5vw !important;
        font-family:'Roboto';
    }
</style>

<table cellpadding=0 cellspacing=0 style='width:100%; height: 100%'>
	<tr>
		<td valign='middle' align='center'>
			<div ng-controller="LoginCtrl" class="signinpage">
				<form name="LoginForm" ng-submit="!showLoading && loginsubmit(LoginForm)" autocomplete="off" ng-validate="loginValidationOptions">
					<div class="wrapper_login align-center">
						<img src="images/login_logo.png" style='width: 50%; ' alt="">
						<div class="msg msg-error" ng-if="err">{{'login_error_invalid_username_or_password' | translate}}!!!</div>
						<div class="row">
							<div class="col offset-s2 s8">
								<div class="form-field">
									<input type="text" name="email" placeholder="{{'basic_details.email' | translate}}" ng-model="logindata.email" autofocus="" />
								</div>

								<div class="form-field">
									<input type="password" name="password" ng-model="logindata.password" placeholder="{{'basic_details.password' | translate}}" />								
								</div>

								<div class="form-field">
									<a href="javascript:void(0)" ng-click="goTo('/forget')">{{'login_forget_password' | translate}}</a>
								</div>

								<div class="form-field">
									<button type="submit" class='btn btn-primary btn-pick-laundry'>{{'text.login' | translate}}</button>
								</div>

								<div class="form-field">
									<button data-scope="email" type="button" onclick="login()" class='btn btn-primary btn-pick-laundry btn-register-fb'>{{'login_with_facebook' | translate}}</button>
								</div>

								<div class="form-field">
									{{'login_new_user' | translate}}? <a ng-click="goTo('/signup')" href="javascript:void(0)" >{{'text.register' | translate}}</a>
								</div>

								<div class="form-field">
									<ng-include src="'views/includes/lang-btns.html'"></ng-include>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</td>
	</tr>
</table>



<!-- <div class="col col1 mar-top">

			<label class="container">
				<input type="checkbox" checked="checked" class="rememberMeCheck" ng-model="checkbox" id="check">
				<span class="checkmark1"></span>
				<label for="check">Remember me</label>
			</label>

		</div>
		<div class="col linklogin">
			<a href="#/forget" class="linklogin11">
				Forget Password
			</a>	
		</div>	
	


	<div class="row link">

		<div class="col linklogin">
			Create An Account
			<a href="#/signup" class="linklogin1">
				Sign Up
			</a>
	     </div>	

	</div> -->