<div ng-controller="MydetailsCtrl" class="mydetails">
  <ul class="tabs">
    <li class="tab col s3"><a class="active" href="#personal">Personal</a></li>
    <li class="tab col s3"><a href="#payments">Payments</a></li>
    <li class="tab col s3"><a href="#addresses">Addresses</a></li>
  </ul>
  <div class="container">
      <div id="personal">
				<div class="row valign-wrapper card-box z-depth-4">
					<div class="col s10">
						<div class="row">
							<div class="col s12"><small class="text-upper">{{'basic_details.name' | translate}}</small></div>
						</div>
						<div class="row">
							<div class="col s12 clk-fade-out">{{userdata.full_name}}</div>
							<div class="col s12 clk-fade-in"><input class="form-control editable" ng-model="userdata.full_name" name="" type="text" /></div>
						</div>
					</div>
					<div class="col s2 valign-wrapper px-0">
						<a class='edit-btn text-upper'><i class="material-icons">edit</i></a>
						<a ng-click="onSavePersonDetail()" class='save-btn whn-clk-edt ' style='display:none'><i class="material-icons">save</i></a>
					</div>
				</div>
		
				<div class="row valign-wrapper card-box z-depth-4">
					<div class="col s10">
						<div class="row">
							<div class="col s12"><small class="text-upper">{{'basic_details.email' | translate}}</small></div>
						</div>
						<div class="row">
							<div class="col s12 clk-fade-out">{{userdata.email}}</div>
							<div class="col s12  clk-fade-in">
								<input class="form-control editable" ng-model="userdata.email" name="" type="text" />
							</div>
						</div>
					</div>
					<div class="col s2 valign-wrapper px-0">
						<a class='edit-btn'><i class="material-icons">edit</i></a>
						<a ng-click="onSavePersonDetail()" class='save-btn whn-clk-edt' style="display:none"><i class="material-icons">save</i></a>
					</div>
				</div>
				
				<div class="row valign-wrapper card-box z-depth-4">
					<div class="col s10">
						<div class="row">
							<div class="col s12"><small class="text-upper">{{'basic_details.password' | translate}}</small></div>
						</div>
						<div class="row">
							<div class="col s12 clk-fade-out">{{asteriskPassword}}</div>
							<div class="col s12  clk-fade-in"><input class="form-control editable" ng-model="asteriskPassword" name="" type="text" /></div>
						</div>
					</div>
					<div class="col s2 valign-wrapper px-0">
						<a class='edit-btn'><i class="material-icons">edit</i></a>
						<a ng-click="onSavePersonDetail()" class='save-btn whn-clk-edt ' style='display:none'><i class="material-icons">save</i></a>
					</div>
				</div>
		
				<div class="row valign-wrapper card-box z-depth-4">
					<div class="col s10">
						<div class="row">
							<div class="col s12"><small class="text-upper">{{'basic_details.phone' | translate}}</small></div>
						</div>
						<div class="row">
							<div class="col s12 clk-fade-out">{{userdata.phone}}</div>
							<div class="col s12  clk-fade-in"><input class="form-control editable" ng-model="userdata.phone" name="" type="text" /></div>
						</div>
					</div>
					<div class="col s2 valign-wrapper px-0">
						<a class='edit-btn'><i class="material-icons">edit</i></a>
						<a ng-click="onSavePersonDetail()" class='save-btn whn-clk-edt ' style='display:none'><i class="material-icons">save</i></a>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col s12">
							<div class="tableData">
									<div class="container">
										<div class="row valign-wrapper ">
											<div class="col s9">
												<div class="row">
													<div class="col s12">
														<small class="text-upper">{{
															"basic_details.name" | translate
														}}</small>
													</div>
												</div>
												<div class="row">
													<div class="col s12 clk-fade-out">
														{{ userdata.full_name }}
													</div>
													<div class="col s12 clk-fade-in">
														<input
															class="form-control editable"
															ng-model="userdata.full_name"
															name=""
															type="text"
														/>
													</div>
												</div>
											</div>
											<div class="col s3 valign-wrapper right-align">
												<a class="edit-btn text-upper"
													><i class="material-icons">edit</i></a
												>
												<a
													ng-click="onSavePersonDetail()"
													class="save-btn whn-clk-edt "
													style="display:none"
													><i class="material-icons">save</i></a
												>
											</div>
										</div>
									</div>
								</div>
								<div class="tableData">
									<div class="container">
										<div class="row valign-wrapper">
											<div class="col s9">
												<div class="row">
													<div class="col s12">
														<small class="text-upper">{{
															"basic_details.email" | translate
														}}</small>
													</div>
												</div>
												<div class="row">
													<div class="col s12 clk-fade-out">
														{{ userdata.email }}
													</div>
													<div class="col s12  clk-fade-in">
														<input
															class="form-control editable"
															ng-model="userdata.email"
															name=""
															type="text"
														/>
													</div>
												</div>
											</div>
											<div class="col s3 valign-wrapper right-align">
												<a class="edit-btn"
													><i class="material-icons">edit</i></a
												>
												<a
													ng-click="onSavePersonDetail()"
													class="save-btn whn-clk-edt"
													style="display:none"
													><i class="material-icons">save</i></a
												>
											</div>
										</div>
									</div>
								</div>
								<div class="tableData">
									<div class="container">
										<div class="row valign-wrapper">
											<div class="col s9">
												<div class="row">
													<div class="col s12">
														<small class="text-upper">{{
															"basic_details.password" | translate
														}}</small>
													</div>
												</div>
												<div class="row">
													<div class="col s12 clk-fade-out">
														{{ asteriskPassword }}
													</div>
													<div class="col s12  clk-fade-in">
														<input
															class="form-control editable"
															ng-model="asteriskPassword"
															name=""
															type="text"
														/>
													</div>
												</div>
											</div>
											<div class="col s3 valign-wrapper right-align">
												<a class="edit-btn"
													><i class="material-icons">edit</i></a
												>
												<a
													ng-click="onSavePersonDetail()"
													class="save-btn whn-clk-edt "
													style="display:none"
													><i class="material-icons">save</i></a
												>
											</div>
										</div>
									</div>
								</div>
								<div class="tableData">
									<div class="container">
										<div class="row valign-wrapper">
											<div class="col s9">
												<div class="row">
													<div class="col s12">
														<small class="text-upper">{{
															"basic_details.phone" | translate
														}}</small>
													</div>
												</div>
												<div class="row">
													<div class="col s12 clk-fade-out">
														{{ userdata.phone }}
													</div>
													<div class="col s12  clk-fade-in">
														<input
															class="form-control editable"
															ng-model="userdata.phone"
															name=""
															type="text"
														/>
													</div>
												</div>
											</div>
											<div class="col s3 valign-wrapper right-align">
												<a class="edit-btn"
													><i class="material-icons">edit</i></a
												>
												<a
													ng-click="onSavePersonDetail()"
													class="save-btn whn-clk-edt "
													style="display:none"
													><i class="material-icons">save</i></a
												>
											</div>
										</div>
									</div>
								</div>
					</div>
				</div> -->
      </div>
      <div id="payments">
          <div
            ng-repeat="getPayment in vaults"
					>
					<div class="row  valign-wrapper card-box  z-depth-4 " style="height: unset;">
							<div class="col s2 valign-wrapper"><img src='images/credit-card.png' width="100%"></div>
							<div class="col s8">
									<div ng-if="getPayment.payment_type">
											<span class="borderdotdot" ng-bind="displayCardName(getPayment.payment_type)"> </span> <span ng-if="getPayment.as_default == 1" class="text-success"><i class="material-icons dp48">check_circle</i></span>
									</div>
									<div  ng-if="getPayment.number">
											{{'request_pikcup_card_end_with' | translate}} :- <span class="borderdotdot"> {{getPayment.number | limitTo:-4}} </span>
									</div>
									<div>
											{{'text.expiry' | translate}} :- <span class="borderdotdot"> {{getPayment.expiry_month}}/{{getPayment.expiry_date}} </span>
									</div>
							</div>
	
							
							<div class="col s2 px-0">
									<table class="action-btns">
											<tr>
													<td>
														<a href="javascript:void(0)" class="text-success"
															ng-click="setDefaultVault(getPayment, $index)"
															ng-if="getPayment.as_default != 1"
														>
															<i class="material-icons dp48">check_circle</i>
														</button>
													</td>
											</tr>
											<tr>
													<td>
														<a href="javascript:void(0)" class="text-danger"
															ng-click="deleteVault(getPayment, $index)"
														>
															<i class="material-icons">delete</i>
													</a>
													</td>
											</tr>
									</table>
							</div>
					</div>
          </div>

        <button
          type="button"
          class="btn btn-primary fixedbutton"
          ng-click="goTo('/add-payment')"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
      <div id="addresses">
        <div
          ng-repeat="getAddress in addresses"
				>
				
				<div class="row card-box  valign-wrapper  z-depth-4 " style="height: unset;">
            <div class="col s2 valign-wrapper"><img src='images/address.png' width="100%"></div>
            <div class="col s8">
                <span ng-if="getAddress != null">
                    <div class="borderdotdot">{{getAddress.street_name}}, {{getAddress.floor}} <span ng-if="getAddress.as_default == 1" class="text-success"><i class="material-icons dp48">check_circle</i></span></div>
                    <div>{{'address_details.unit_number' | translate}} :- {{getAddress.unit_number}}</div>
                    <div>{{'address_details.po_box' | translate}} :- {{getAddress.pobox}}</div>
                    <!-- <div ng-bind="displayCityName(address_details.city_id)"></div> -->
                </span>
            </div>
            <div class="col s2 px-0">
                <table class="action-btns">
                    <tr>
                        <td>
													<a href="javascript:void(0)" class="text-info" ng-click="goTo('/edit-address/' + getAddress.id)">
														<i class="material-icons">edit</i>
												</a>
										</tr>
										<tr>
                        <td>
													<a href="javascript:void(0)" class="text-success"
														ng-click="setDefaultAddress(getAddress, $index)"
														ng-if="getAddress.as_default != 1"
													>
														<i class="material-icons dp48">check_circle</i>
													</button>
                        </td>
                    </tr>
										<tr>
                        <td>
													<a href="javascript:void(0)" class="text-danger"
														ng-click="deleteAddress(getAddress, $index)"
													>
														<i class="material-icons">delete</i>
												</a>
                        </td>
										</tr>
                </table>
            </div>
        </div>  
          
				</div>
				<button
          type="button"
          class="btn btn-primary fixedbutton"
          ng-click="goTo('/add-address')"
        >
          <i class="material-icons">add</i>
        </button>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("ul.tabs").tabs();
  });
</script>
<!-- container ends here -->
<!-- <div>
   <div class="row row1">
   
   	<div class="col mydetailsform">
   
   		<div class="list">
   
   		  <div class="item item-icon-right">	  	
   			  <span class="title mydetailheading"> Personal Details </span>
   			  <!-- <span class="icon ion-checkmark-circled" ng-click="onSavePersonDetail()"></span> --3>
   		  </div>
   
   		  <div class="item item-body Personal">
   
   		  	<div class="row editable">
   		  		<div class="col col-30 name1">Name</div>
   		  		<div class="col col-60 text-right clk-fade-out " > {{userdata.full_name}} </div>
   		  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.full_name" name=""> </div>
   		  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
   		  			</a></div>
   
   		  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
   		  			</a></div>
   
   		  	</div>
   
   		  	<div class="row editable">
   		  		<div class="col col-30 name1">Email</div>
   		  		<div class="col col-60 text-right clk-fade-out"> {{userdata.email}} </div>
   		  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.email" name=""> </div>
   		  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
   		  			</a></div>
   
   		  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
   		  			</a></div>
   		  	</div>
   		  	<div class="row editable">
   		  		<div class="col col-30 name1">Password</div>
   		  		<div class="col col-60 text-right clk-fade-out"> {{ asteriskPassword }} </div>
   		  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.password" name=""> </div>
   		  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
   		  			</a></div>
   
   		  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
   		  			</a></div>
   		  	</div>
   		  	<div class="row editable">
   		  		<div class="col col-30 name1">Contact</div>
   		  		<div class="col col-60 text-right clk-fade-out"> {{userdata.phone}} </div>
   		  		<div class="col col-60 text-right clk-fade-in " ><input type="text"  class="form-control editable" ng-model="userdata.phone" name=""> </div>
   		  		<div class="col col-10 sib"> <a class="edit-btn"> <span class="icon ion-edit green"></span>
   		  			</a></div>
   
   		  		<div class="col col-10 whn-clk-edt"> <a ng-click="onSavePersonDetail()"> <span class="icon ion-checkmark-circled green"></span>
   					  </a></div>
   					  
   		  	</div>
   		  </div>
   
   		</div>
   
   	</div>
   
   </div>
   <div ng-if="loading" class="loader">Loading...</div>
   <div class="row row2">
   
   	<div class="col mydetailsform1">
   
   		<div class="list">
   
   		  <div class="item item-icon-right">
   		    <!-- <span class="icon ion-ios-plus-outline" href="#/add-payment"></span>	 --3>
   			  <span class="title mydetailheading"> Payment Details </span>
   			  <a href="#/add-payment">
   				<i class="icon ion-ios-plus-outline"> </i>	  
   			</a>
   		  </div>
   
   		  <div class="item item-body">
   
   		  		<div class="row address-row" ng-repeat="paymentDetail in paymentDetails">
   
   		  			<div class="col">
   		  				<div class="list">
   	  						<span>CARD TYPE</span>
   		  				</div>
   		  				<div class="list">
   	  						<span>CARD NUMBER </span>
   		  				</div>
   		  				<div class="list">
   	  						<span>EXPIRY DATE</span>
   		  				</div>
   		  				<div class="list">
   	  						<span>EXPIRY MONTH </span>
   		  				</div>
   		  			</div>
   
   		  			<div class="col">			  				
   		  				<div class="list text-right">
   		  					<span>{{paymentDetail.payment_type}}</span>
   		  				</div>			  				
   		  				<div class="list text-right">
   		  					<span>{{paymentDetail.number}}</span>
   		  				</div>
   		  				<div class="list text-right">
   		  					<span>{{paymentDetail.expiry_date}}</span>
   		  				</div>
   		  				<div class="list text-right">
   		  					<span>{{paymentDetail.expiry_month}}</span>
   		  				</div>		
   		  			</div>
   
   		  		</div>
   
   		  </div>
   
   		</div>
   
   	</div>
   
   </div>
   
   <div class="row row3">
   	<div class="col mydetailsform2">
   		<div class="list">
   
   		  <div class="item item-icon-right">			  	
   			<span class="title mydetailheading"> Address Details </span>
   			<!-- <span class="icon ion-ios-plus-outline"> <a href="#/add-address"></a> </span>	 --3>
   			<a href="#/add-address">
   				<i class="icon ion-ios-plus-outline"> </i>	  
   			</a>
   		  </div>
   
   		  <div class="item item-body">
   			   <div class="row address-row" ng-repeat="data in userdata.addresses">
   
   			  			<div class="col">
   			  				<div class="list">
   		  						<span>Street name </span>
   			  				</div>
   			  				<div class="list">
   		  						<span>Floor</span>
   			  				</div>
   			  				<div class="list">
   		  						<span>Pobox</span>
   			  				</div>
   			  				<div class="list">
   		  						<span>City</span>
   			  				</div>
   			  			</div>
   
   			  			<div class="col">			  				
   			  				<div class="list text-right">
   			  					<span>{{data.street_name}}</span>
   			  				</div>			  				
   			  				<div class="list text-right">
   			  					<span>{{data.floor}}</span>
   			  				</div>	
   			  				<div class="list text-right">
   			  					<span>{{data.pobox}}</span>
   			  				</div>
   			  				<div class="list text-right">
   			  					<span>{{cityids[$index].title}}</span>
   			  				</div>		
   			  			</div>
   
   			  		</div>
   		  </div>
   		</div>
   	</div>
   </div>
   
   
   <div class="row bottommargin">	</div>
   
   <div class="bar bar-footer bar-balanced">
   	  <div class="title">Footer</div>
   </div>	
   
   </div> -->

<!-- 
   <div class="row row1">
   
   	<div class="col mydetailsform">
   
   		<div class="list">
   
   		  <div class="item">			  	
   		  	<span class="title"> Personal Details </span>
   		  </div>
   
   		  <div class="item item-body Personal">
   		  	<div class="row Personal1">
   		  		<div class="col col-20 name1">Name</div>
   		  		<div class="col col-70 name2">
   		  			<div class="list inputbox">			  				
   		  				<label class="item item-input">
   		  					<input type="text" name="" required="" autofocus="">
   		  				</label>
   					</div>
   				</div>
   		  		<div class="col col-10 name1">			  			
   		  			<a href="#" class="link"> Edit </a>
   		  		</div>
   		  	</div>
   		  	<div class="row Personal1">
   		  		<div class="col col-20 name1">Email</div>
   		  		<div class="col col-70 name2">
   		  			<div class="list inputbox">			  				
   		  				<label class="item item-input">
   		  					<input type="email" name="" required="" autofocus="">
   		  				</label>
   					</div>
   		  		</div>
   		  		<div class="col col-10 name1">
   		  			<a href="#" class="link"> Edit </a>
   		  		</div>
   		  	</div>
   		  	<div class="row Personal1">
   		  		<div class="col col-20 name1">Password</div>
   		  		<div class="col col-70 name2">
   		  			<div class="list inputbox">			  				
   		  				<label class="item item-input">
   		  					<input type="password" name="" required="" autofocus="">
   		  				</label>			  				
   					</div>
   				</div>
   		  		<div class="col col-10 name1">
   		  			<a href="#" class="link"> Edit </a>
   		  		</div>
   		  	</div>
   		  	<div class="row Personal1self">
   		  		<div class="col col-20 name1">Contact</div>
   		  		<div class="col col-70 name2">
   		  			<div class="list inputbox">			  				
   		  				<label class="item item-input">
   					    	<input type="number" name="" required="" autofocus="">
   					    </label>
   					</div>
   				</div>
   		  		<div class="col col-10 name1">
   		  			<a href="#" class="link"> Edit </a>
   		  		</div>
   		  	</div>
   		  </div>
   
   		</div>
   
   	</div>
   
   </div>
   
   <div class="row row2">
   	<div class="col mydetailsform1">
   
   		<div class="list">
   
   		  <div class="item">
   		  	<span class="title"> Payment Details </span>
   		  </div>
   
   		  <div class="item item-body">
   
   		  		<div class="row">
   
   		  			<div class="col">
   		  				<div class="list">
   	  						<span>Visa card </span>
   		  				</div>
   		  				<div class="list">
   	  						<span>Paypal </span>
   		  				</div>
   		  			</div>
   
   		  			<div class="col">			  				
   		  				<div class="list">
   		  					<span>******6423</span>
   		  				</div>			  				
   		  				<div class="list">
   		  					<span>******6473</span>
   		  				</div>		
   		  			</div>
   
   		  		</div>
   
   		  </div>
   
   		  <div class="item item-body mypaymentcenter">
   		     <a href="#" class="link">
   		     	<span class="title ion-plus-round"> Add another payment type </span>
   		     </a>
   		  </div>			  
   
   		</div>
   	</div>
   </div>
   
   <div class="row row3">
   	<div class="col mydetailsform2">
   		<div class="list">
   
   		  <div class="item">			  	
   		  	<span class="title"> Address Details </span>
   		  </div>
   
   		  <div class="item item-body">
   		    <p>
   		     Laundry refers to the washing of clothing and other textiles. 
   		    </p>
   		  </div>
   		</div>
   	</div>
   </div>
   
  ng and other textiles. 
   		    </p> -->
